---
layout: default
title: CSM Responsibilites and Services
description: "How GitLab Customer Success Managers help you succeed."
suppress_header: true
extra_css:
  - tam.css
---

.tam-container
  .messaging-container
    .tam-header
      %p Customer Success Management
      %h2 How GitLab Customer Success Managers help you succeed
    .message.flex-container.full-width
      %p.full-width
        GitLab Customer Success Managers serve as trusted advisors to GitLab customers. They work closely with customers to understand their objectives and  provide proactive guidance and enablement. The CSM is an orchestrator, who brings together sales, solution architects, product management, professional services engineers, and support to drive adoption, resolve issues, and help each customer reach their goals faster.
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Relationship Management
      %ul
        %li Scheduled cadence calls (synchronous).
        %li Regular open issue reviews and issue escalations (asynchronous).
        %li Customer success planning based on desired business outcomes and intended uses cases.
        %li Executive business reviews to track progress and iterate on the customer success plan.
        %li Partnership to drive user adoption and support expansion into new use cases.
        %li Internal advocacy: The CSM is the customer champion for guidance and requests, and acts as a liaison between the customer and other GitLab teams.
    .full-width
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Training
      %ul
        %li Identification of pain points and training required.
        %li Delivering use case enablement sessions, including workshops, webinars, and lunch & learns, to ensure the teams, leadership, and end users are set up for success and adopting the platform.
        %li Regular communication and updates on GitLab features.
        %li Training scoping (in partnership with Professional Services)
    .full-width
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Support
      %ul
        %li Upgrade planning (in partnership with Support)
        %li Review the <a href="https://about.gitlab.com/support/scheduling-upgrade-assistance/">Upgrade Assistance page</a> with customers when upgrading to ensure a plan is in place, including rollback strategy, and Support has enough preparation time to be available to help
        %li <a href="https://about.gitlab.com/handbook/customer-success/csm/services/infrastructure-upgrade/">Infrastructure upgrade coordination</a>
        %li Launch recommendations
        %li Advocate for support escalations
        %li Monitor SaaS-based customer experience by adding them to the <a href="https://gitlab.com/gitlab-com/gl-infra/marquee-account-alerts">Marquee Accounts alerts</a>
    .full-width
