.row.u-margin-top-sm
  .col-md-12
    .cta-promo-module
      .cta-promo-content
        %h2 Try GitLab for free  
        %p Get unlimited access to all of GitLab's features for 30 days. 
        %a.btn.orange.cta-btn.margin-top10{:href => "/free-trial/"} Get free trial
