.callout.gitlab-trial
  %h2
    4 of the top 6 attacks were application based
  %p
    Download our whitepaper, "A Seismic Shift in Application Security" to learn how to protect your organization.
  = link_to "Download Whitepaper", "/resources/whitepaper-seismic-shift-application-security/", class: "btn cta-btn orange margin-top20"
