---
title: GitLab Migration+ Package
suppress_header: true
description: "The GitLab Migration+ package enables most companies to migrate their data from previous source code management systems and train their users and adminstrators with GitLab fundamentals."
canonical_path: "/services/migration/migration-plus/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Migration+
    %h3.headline-subtitle
      Accelerate the journey to GitLab. Maximize developer productivity. 

= partial "includes/services-deprecated"
