<% data.services.each do |s| %>
  <% if s.id == id %>

    <% if s.prereqs %>
      <div class="row">
        <div class="col-md-12">
          <h2>Prerequisite Knowledge and Skills</h2>
          <p>Attendees should already have basic familiarity with these topics:</p>
          <ul>
            <% s.prereqs.each do |prereq| %>
              <li><%= prereq %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if s.preresources %>
      <div class="row">
        <div class="col-md-12">
          <p>Here are some resources to help you prepare:</p>
          <ul>
            <% s.preresources.each do |resource| %>
              <li>
                <a href="<%= resource.href %>" target="_blank">
                  <%= resource.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <h2>System Requirements</h2>
    <% if s.id == "training_sessions_admin" or s.id == "training_sessions_adv_admin" %>
      <p>Computer with internet access and a local SSH client installed.</p>
    <% else %>
      <p>Computer with internet access and Git installed, per the requirements <a href="/services/education/prereq/" target="_blank">specified here</a>.</p>
    <% end %>

  <% end %>
<% end %>
