---
title: Migration Services
suppress_header: true
description: "Our migration services will facilitate your transition to GitLab by providing a clean, dataset to resume operations at once."
canonical_path: "/services/migration/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Migration Services
    %h3.headline-subtitle
      Facilitate your transition to GitLab

= partial "includes/services-deprecated"
