<section
  class="slpEventList slp-commit-grid slp-relative slp-mb-64"
>
  <div class="slp-col-span-full">
    <h2 class="slp-text-xxl"><%= content.header %></h2>
    <% if content.subtitle %>
      <p class="slp-text-xl">
        <%= content.subtitle %>
      </p>
    <% end %>
    <div
      class="slp-prose slp-max-w-none slp-mt-16"
    > 
      <%= kramdown(content.content) %>
    </div>
  </div>
</section>