<%  if form.code != nil  %>
  <script src='//page.gitlab.com/js/forms2/js/forms2.min.js'></script>
  <%= form.code %>
<% end %>
<div id=confirmform style='visibility:hidden;'>
  <p class=thanks-subscribing>
    Thanks for subscribing!
    <a href='https://www.twitter.com/gitlab' target=_blank>
      Follow us on twitter
    </a>
    for even more updates!
  </p>
</div>
<style>
  /*<![CDATA[*/
    .mktoForm {
      margin: 0 auto;
      max-width: 560px;
      position: relative;
      width: 100%;
    }
    
    .mktoForm .email .mktoField {
      width: calc(100% - 87px);
    }

    .mktoForm input {
      border-radius: 3px !important;
      border: 1px solid #ddd !important;
      font-size: 16px !important;
      padding: 8px 12px !important;
      background-color: #fff !important
      ;
    }
    
    .mktoButtonRow .mktoButtonWrap button {
      background-color: #e65328;
      font-size: 0;
      line-height: inherit;
      min-width: inherit;
      padding: 9px 18px;
      position: absolute;
    }
    
    .mktoButtonRow .mktoButtonWrap button:active,
    .mktoButtonRow .mktoButtonWrap button:focus,
    .mktoButtonRow .mktoButtonWrap button:hover {
      background-color: #c93d2b;
    }
    
    .mktoButton:after {
      content: "Join us";
      font-size: 16px;
    }
    
    .thanks-subscribing {
      border-top: 1px solid #cccccc;
      padding-top: 5px;
    }
  /*]]>*/
</style>