---
title: GitLab Certified Security Specialist
suppress_header: true
description: "GitLab Certified Security Specialist"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Security Specialist
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified Security Specialist

        %h3 Interested in getting certified?
        %p GitLab Certified Security Specialist is a <a href="https://levelup.gitlab.com/pages/certifications">technical certification</a> offered by <a href="https://about.gitlab.com/services/">GitLab Professional Services</a> to help the GitLab community and team members validate their ability to use GitLab for secure software development through continuous security testing, scanning, and remediation.

        %h3 Benefits
        %h4 For employers
        %p With GitLab Certified Security Specialist certification, team managers now have a way to confirm their team members possess the skills needed to enable DevSecOps and empower developers to create secure code. All team members who achieve the certification will be able to apply GitLab security functionality and best practices to ensure more secure software releases.

        %h4 For individuals
        %p Individuals who earn GitLab Certified Security Specialist certification can showcase their ability to enable essential security capabilities of GitLab including SAST, DAST, dependency and container scanning, license compliance, and policy management to ensure more secure software releases.

        %h3 Preparation
        %p GitLab offers two class options to prepare for certification, although neither is required in order to take the exam:
        %ol
          %li Instructor-led: Fill out the form below or contact your GitLab sales representative to schedule an instructor-led delivery of GitLab Security Essentials for your team.
          %li Self-service: You can enroll in our <a href="https://levelup.gitlab.com/learn/course/security-essentials">self-paced option</a> to complete your certification in GitLab LevelUp.

        %h3 Certification Exam
        %p The <a href="https://levelup.gitlab.com/learn/course/gitlab-security-essentials-certification-exam-session">GitLab Certified Security Specialist exam</a> is available for anyone to purchase and take, regardless of whether they have participated in instructor-led GitLab training, self-service GitLab training, or neither. To earn certification, candidates must first pass a written assessment, followed by a hands-on lab assessment graded by GitLab Professional Services engineers.

= partial "includes/services-contact-form"
