---
layout: default
title: eBook - Scaled Continuous Integration and Delivery
description: "Download the whitepaper now to find out how an integrated CI/CD tool can save you time and resources, and streamline your workflow."
canonical_path: "/resources/scaled-ci-cd/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/gitlab-scaled-ci-cd-?x=fDT7Bl&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook."
success_message: "A copy of the eBook will be sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Scaled Continuous Integration and Delivery
        %h2.page-subtitle Deliver what customers want, faster, with an integrated CI/CD tool

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Today, whatever your business, customer expectations are largely the same: they want a great product and efficient service. The days of annual releases, with a pre-defined feature set bundled onto compact discs and delivered to retailers, are far behind us.
            %br
            %p Delivering customer value at the pace required demands a refined software development lifecycle that saves time, effort, and cost wherever possible.
            %br
            %p At the core of modern software development is continuous integration (CI) and continuous delivery, helping businesses to ship new, working features earlier and more often.

            %h3 What you'll learn in this eBook:
            %ul
              %li Why CI/CD is a non-negotiable for modern software development
              %li How CI/CD fits into your business strategy
              %li The benefits of built-in CI/CD
              %li How to get started with CI/CD
            %br

            %p Download the eBook now to find out how an integrated CI/CD tool can save you time and resources, and streamline your workflow. 


        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
