---
title: GitLab.com Rapid Results Consulting
suppress_header: true
description: "GitLab is your strategic partner for software delivery."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab.com Rapid Results Consulting
    %h3.headline-subtitle
      GitLab is your strategic partner for software delivery

= partial "includes/services-deprecated"
