---
layout: feature
title: Subgroups
description: "As a team-based collaboration platform, we're constantly enhancing GitLab's support for the most diverse teams and conditions. Learn more!"
canonical_path: "/solutions/subgroups/"
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 Subgroups
        %h3#description Manage large projects easily with Subgroups
        %a.btn.cta-btn.btn-white{ href: "https://docs.gitlab.com/ee/user/group/subgroups/index.html#subgroups", :"data-ga-name" => "Documentation", :"data-ga-location" => "header"  } Documentation
  .sub-wrapper
    .container
      .row#overview
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Overview
          %p.overview
            :markdown
              GitLab is a fully integrated software development application
              that enables you and your team to work cohesively, faster,
              transparently, and effectively, from the discussion of a
              new idea through deployment and monitoring.

              As a team-based collaboration platform, we're constantly
              enhancing GitLab's support for the most diverse teams and
              conditions. Looking on that direction, to leverage varied
              hierarchical team structures and applications architectures,
              we've created **GitLab Subgroups**.

              With [GitLab Groups](https://docs.gitlab.com/ee/user/group/)
              you can assemble related projects together and grant members
              access to several projects at once. A [subgroup](https://docs.gitlab.com/ee/user/group/subgroups/), also known as _nested group_ or _hierarchical group_,
              is essentially a group within a group. It has the same features
              a top-level group has, with some
              [limitations](https://docs.gitlab.com/ee/user/group/subgroups/#limitations).

              Each group, at each level, is itself a first-class GitLab citizen,
              with the ability to have multiple projects. You can create up to 20
              levels of subgroups, giving you an incredible level of flexibility.

      %hr.divider/

      .row#benefit-1
        .col-md-4.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("checklist-icon")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 How it works
          .overview
            :markdown
              - [Create a new group](https://docs.gitlab.com/ee/user/group/#create-a-new-group)
                in GitLab, from which you can create subgroups.
              - [Create a subgroup](https://docs.gitlab.com/ee/user/group/subgroups/#creating-a-subgroup) for one of your teams.
              - Add new [projects](https://docs.gitlab.com/ee/user/project/#projects) into your
                subgroup.
              - You can now add [members](https://docs.gitlab.com/ee/user/group/subgroups/#membership)
                to your subgroup, who will automatically inherit their permission level to all
                the projects within their subgroup.
              - [Mention](https://docs.gitlab.com/ee/user/group/subgroups/#mentioning-subgroups)
                your subgroup in any [discussion](https://docs.gitlab.com/ee/user/discussions/)
                (in issues, MRs, commits, snippets) and all its members will get a notification.

      %hr.divider/

      .row#benefit-2
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Benefits
          .overview
            :markdown
              - **Easily configurable:** Once you create a subgroup, the
                only thing you need to set is the [visibility level](https://docs.gitlab.com/ee/public_access/public_access.html) (public, internal, or private).
              - **Maintain your workflow leveraged by GitLab:** effectively organize your
                projects or teams within groups and subgroups so that you can easily add
                new members, change their access level, and create projects respecting
                your company's structure.

        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
      %hr.divider/
