<% if current_article.data.author == "GitLab" or current_article.data.author == nil %>
  <a
    href="/company/team/"
    class="slp-author-avatar slp-flex slp-justify-center slp-items-center slp-mx-auto slp-min-w-full"
    data-ga-name="author"
    data-ga-location="header"
  >
    <img
      alt="Tanuki GitLab profile"
      height="70"
      width="70"
      src="/images/gitlab-logo-blog-avatar.svg",
    />
  </a>
<% elsif author %>  
  <a
    href="/company/team/#<%= author.gitlab %>"
    class="slp-author-avatar slp-flex slp-justify-center slp-items-center slp-mx-auto slp-min-w-full"
    data-ga-name="author"
    data-ga-location="header"
  >
    <img
      alt="<%= author.name %> GitLab profile"
      height="70"
      width="70"
      src="<%= author.avatar_url %>",
      class="slp-rounded-full"
    />
  </a>
<% else %>
  <!-- No avatar for authors that are no longer team members %-->
<% end %>
