<div data-vue-target="true" style="height: 417px;">
  <slp-image-gallery :images='<%= images.to_json %>' style="margin-left: auto; margin-right: auto;">
    <%# Fallback in case JavaScript or Vue don't load appropriately %>
    <% images.each do |image| %>
        <img src="<%= image[:src] %>" alt="<%= image[:alt] %>">
    <% end %>
  </slp-image-gallery>
</div>
