<p>
  <a
    href="<%= href %>"
    class="slp-text-ui-secondary slp-font-bold slp-text-sm slp-leading-6 slp-underline"
    data-ga-name="text"
    data-ga-location="body"
  >
    <%= text %>
    <svg
      width="9"
      height="6"
      xmlns="http://www.w3.org/2000/svg"
      class="slp-inline-block"
    >
      <path
        d="M6.685.683L9 3 6.685 5.317a.624.624 0 11-.883-.884l.808-.808H.624a.625.625 0 010-1.25H6.61l-.808-.808a.625.625 0 01.883-.884z"
        fill="none"
        class="slp-fill-current group-hover:slp-text-ui-secondary group-focus:slp-text-ui-secondary"
      ></path>
    </svg>
  </a>
</p>
