<div
  class="slp-text-sm slp-leading-8 slp-mb-6 slp-flex slp-flex-wrap slp-justify-left"
>
  <div class="slp-flex-initial">
    <a href="/blog/" class="slp-text-ui-secondary slp-mr-2" data-ga-name="blog" data-ga-location="header">Blog</a>
    <span class="slp-mr-2 slp-text-grayscale-333 slp-font-normal">/</span>
    <% if current_article.data.categories == 'ai-ml' %>
      <a data-ga-name="blog category" data-ga-location="header" href="/blog/categories/<%= current_article.data.categories.gsub(/\s/, '-') %>/" class="slp-text-ui-secondary slp-mr-2">
        AI/ML
      </a>
    <% else %>  
    <a data-ga-name="blog category" data-ga-location="header" href="/blog/categories/<%= current_article.data.categories.gsub(/\s/, '-') %>/" class="slp-text-ui-secondary slp-mr-2">
      <%= current_article.data.categories.titleize() %>
    </a>
    <% end %>
  </div>
</div>
