---
layout: markdown_page
title: "Group Direction - AI Model Validation"
description: "Research and Evaluate AI/ML models for use to enrich the GitLab product with Generative AI"
canonical_path: "/direction/ai-powered/ai_model_validation/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview
Enabling Excellence in AI Model Evaluation: Illuminating the Potential of GenAI Models

Our vision is to establish a comprehensive and cutting-edge framework within Google Vertex AI that empowers users to evaluate and unlock the full potential of GenAI models, including offerings from Google, Anthropic, ChatGPT, and beyond. By providing a unified platform with advanced evaluation tools, actionable insights, and ethical considerations, we aim to foster trust, transparency, and continual improvement in AI technologies.

### Categories 
This group consists of the following categories: 

- [AI Research](/direction/ai-powered/ai_model_validation/ai_research): Identifies and explores AI/ML models to support use cases other GitLab sections, stages, groups are developing to enrich the DevSecOps experience for GitLab users. 
- [AI Evaluation](/direction/ai-powered/ai_model_validation/ai_evaluation): An automated and scalable AI/ML model evaluation tool focused on exercising and testing various model performance, quality of outputs, and accuracy against specific inputs. 

## Accomplishments, News, and Updates
### Section & team member updates
2023 the AI Model Validation group is actively staffed up and laying the foundation to evaluate Large language models to help ML/AI powered features to be build in GitLab. We established our AI validation teams, to begun this journey by identify a diverse range of GenAI models, by evaluating Google AI models, and will continue to develop engineering processes to effectively enable GitLab to pursue the wider Data Science vision.

### Important PI milestones
TBD

### Recent accomplishments
TBD

<p align="center">
    <i><br>
    Last Reviewed: 2023-08-17<br>
    Last Updated: 2023-08-17
    </i>
</p>