%h2.slp-text-center{style: "margin-top: 56px"} GitLab is The DevOps Platform.
%p.slp-text-center.slp-mb-48.slp-px-16 Our users have spoken. GitLab ranks as a G2 Leader across DevOps categories.
%logo-slider.brag-wall-container#marquee-container
  .brag-wall-badges-list#brag-wall-badges-list
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-Leader2021.svg") 
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-UsersLoveUs.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-Enterprise2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-Best-Support2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-EasiestToUse2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-FastestImplementation2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-HighestUserAdoption2021.svg")
    %a.brag-wall-badge{href: "/analysts/gartner-ast21/", target: "_blank"}
      %img(src="/images/home/Gartner-Analyst-AST.svg")
    %a.brag-wall-badge{href: "/analysts/gartner-eapt21/", target: "_blank"}
      %img(src="/images/home/Gartner-Analyst-EAPT.svg")
    %a.brag-wall-badge{href: "/analysts/gartner-vsdp21/", target: "_blank"}
      %img(src="/images/home/Gartner-Analyst-VSDP.svg")
    %a.brag-wall-badge{href: "/analysts/forrester-cdra20/", target: "_blank"}
      %img(src="/images/home/Forrester-CDRA-Wave-2020.svg")
    %a.brag-wall-badge{href: "/analysts/forrester-cloudci19/", target: "_blank"}
      %img(src="/images/home/Forrester-CloudnativeCI-Wave-2019.svg")

  .brag-wall-badges-list#brag-wall-badges-list
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-Leader2021.svg") 
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-UsersLoveUs.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-Enterprise2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-Best-Support2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-EasiestToUse2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-FastestImplementation2021.svg")
    %a.brag-wall-badge{href: "/is-it-any-good/#gitlab-has-been-voted-as-g2-crowd-leader", target: "_blank"}
      %img(src="/images/home/G2-Fall-HighestUserAdoption2021.svg")
    %a.brag-wall-badge{href: "/analysts/gartner-ast21/", target: "_blank"}
      %img(src="/images/home/Gartner-Analyst-AST.svg")
    %a.brag-wall-badge{href: "/analysts/gartner-eapt21/", target: "_blank"}
      %img(src="/images/home/Gartner-Analyst-EAPT.svg")
    %a.brag-wall-badge{href: "/analysts/gartner-vsdp21/", target: "_blank"}
      %img(src="/images/home/Gartner-Analyst-VSDP.svg")
    %a.brag-wall-badge{href: "/analysts/forrester-cdra20/", target: "_blank"}
      %img(src="/images/home/Forrester-CDRA-Wave-2020.svg")
    %a.brag-wall-badge{href: "/analysts/forrester-cloudci19/", target: "_blank"}
      %img(src="/images/home/Forrester-CloudnativeCI-Wave-2019.svg")
