.compliance-badge-container.slp-relative
  .container
    %div.slp-text-center{:style => "width:100%"}
      %img{:src => "/images/home/complience-and-security-icon-purple.svg", :style => "height: 80px;", :alt => "Shield icon"}
      .compliance-title.slp-text-xxl We take compliance seriously

    .compliance-badges-list
      %a.compliance-card{href: "https://www.aicpa.org/soc4so", target: "_blank", style: "color: #333333;"}
        .compliance-card-image
          %img(src="/images/risk-and-field-security/SOC_NonCPA.jpg")
        .compliance-card-title.slp-text-sm   SOC2 Certification
      %a.compliance-card{href: "https://cloudsecurityalliance.org/star/registry/services/gitlab", target: "_blank", style: "color: #333333;"}
        .compliance-card-image
          %img(src="/images/risk-and-field-security/csa-star.png")
        .compliance-card-title.slp-text-sm   CSA STAR
      %a.compliance-card{href: "/privacy/privacy-compliance/", target: "_blank", style: "color: #333333;"}
        .compliance-card-image
          %img(src="/images/risk-and-field-security/gdpr.jpg")
        .compliance-card-title.slp-text-sm   GDPR Compliance
      %a.compliance-card{href: "https://design.gitlab.com/accessibility/vpat", target: "_blank", style: "color: #333333;"}
        .compliance-card-image
          %img(src="/images/risk-and-field-security/vpat.jpg")
        .compliance-card-title.slp-text-sm  VPAT Compliance
      %a.compliance-card{href: "/security/", target: "_blank", style: "color: #333333;"}
        .compliance-card-image
          %img.compliance-bitsight(src="/images/risk-and-field-security/BitSight_Logo_Tagline.png")
        .compliance-card-title.slp-text-sm   Bitsight Security Rating

  .grey-background

  .container      
    .compliance-subtext.slp-text-center.slp-text-base
      At GitLab, we take compliance seriously because we know how much security and accessibility matter to our customers and stakeholders. 
      = link_to "Learn more about compliance at GitLab.", "/security/", :style => "color: #7D2BD9; font-weight: 600"
