.container
  .grid-layout.grid-layout3.u-margin-top-md
    .tile-resource.grid-item.text-center{:style => "box-shadow:none;"}
      %div{:style => "width:100%"}
        %img{:src => "/images/icons/efficiency.svg", :style => "height: 80px;", :alt => "Checkmark icon"}
        %h3{:style => "margin: 0; color: #333; font-weight: 400;"} Work more efficiently
      .tile-info
        %p.tile-description Identify blockers and address them immediately, in a single tool.
        %p.benefits-learn-more
          = link_to "Learn more", "/stages-devops-lifecycle/", :style => "color: #7D2BD9; font-weight: 600; text-decoration: underline"
          %span{:style => "color: #7D2BD9;"} → 
    .tile-resource.grid-item.text-center{:style => "box-shadow:none;"}
      %div{:style => "width:100%"}
        %img{:src => "/images/icons/speed.svg", :style => "height: 80px;", :alt => "Continuous delivery icon"}
        %h3{:style => "margin: 0; color: #333; font-weight: 400;"} Deliver better software faster 
      .tile-info
        %p.tile-description Focus on delivering value–not maintaining integrations.
        %p.benefits-learn-more
          = link_to "Learn more", "/stages-devops-lifecycle/", :style => "color: #7D2BD9; font-weight: 600; text-decoration: underline"
          %span{:style => "color: #7D2BD9;"} → 
    .tile-resource.grid-item.text-center{:style => "box-shadow:none;"}
      %div{:style => "width:100%"}
        %img{:src => "/images/icons/less-risk.svg", :style => "height: 80px;", :alt => "Secure icon"}
        %h3{:style => "margin: 0; color: #333; font-weight: 400;"} Reduce risk and cost
      .tile-info
        %p.tile-description Automate security and compliance without compromising speed or spend.
        %p.benefits-learn-more
          = link_to "Learn more", "/stages-devops-lifecycle/", :style => "color: #7D2BD9; font-weight: 600; text-decoration: underline"
          %span{:style => "color: #7D2BD9;"} → 
:css
  .tile-resource .tile-description {
    font-size: 1.6rem;
  }

  .tile-resource .tile-info {
    padding: 20px 30px 30px 30px;
  }

  .benefits-learn-more {
    font-size: 1.6rem;
    margin: auto;
  }

