.value-pillar-group.flex-container
  .value-pillar.full-width
    = image_tag "/images/home/pillar-create.svg", alt: "Gitlab pillar create svg"
    .value-pillar-body
      %h3.pillar-title Visible
      %p.pillar-description
        See everything that matters
      %ul
        %li Stay in your flow
        %li Don’t wait on syncing
        %li Manage projects, not tools
        %li Improve cycle time

  .value-pillar.full-width
    = image_tag "/images/home/pillar-speed.svg", alt: "Gitlab pillar speed svg"
    .value-pillar-body
      %h3.pillar-title Efficient
      %p.pillar-description
        Collaborate without waiting
      %ul
        %li Start immediately
        %li Work concurrently
        %li No more handoffs

  .value-pillar.full-width
    = image_tag "/images/home/pillar-scale.svg", alt: "Gitlab pillar scale svg"
    .value-pillar-body
      %h3.pillar-title Governed
      %p.pillar-description
        Develop and operate with confidence
      %ul
        %li Security and compliance already built-in
        %li Simplify user management
        %li Expedite auditing
        %li Act with certainty
