//////////////////////////////
// NEW FONT STACK//////////////////////////////
//////////////////////////////

// CONTAINER 2020 IS A DEPRECATED INTERMEDIARY THAT WAS USED IN EARLY STAGES OF THE THE DESIGN SYSTEM.

.container2020 {
  font-size: 1rem;
}

@media (max-width: 959px) {
  .container.container2020 {
    font-size: .7rem;
  }
}

.container2020 h1 {
  font-size: 5.2em;
  font-weight: 400;
}

.container2020 h2 {
  font-size: 3.6em;
  font-weight: 400;
}

.container2020 h3 {
  font-size: 2.8em;
  font-weight: 400;
}

.container2020 h4 {
  font-size: 2.2em;
  font-weight: 400;
}

.container2020 p {
  font-size: 1.8em;
}

.container2020 li {
  font-size: 1.8em;
}

.container2020 .deepmhasized {
  color: $color-gray;
}

// SLIPPERS CONTAINER IS THE NEW DESIGN SYSTEM STACK

// THE SLP prefix is short for slippers

@mixin slp-font-size-4xl {
  font-size: 6.0rem;
  font-weight: 400;
  line-height: 6.4rem;

  @media (max-width: $breakpoint-md) {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

}

@mixin slp-font-size-3xl {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.2rem;

  @media (max-width: $breakpoint-md) {
    font-size: 3.0rem;
    line-height: 4.0rem;
  }

}

@mixin slp-font-size-2xl {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.6rem;

  @media (max-width: $breakpoint-md) {
    font-size: 2.4rem;
    line-height: 3rem;
  }

}

@mixin slp-font-size-xl {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.8rem;

  @media (max-width: $breakpoint-md) {
    font-size: 1.9rem;
    line-height: 2.4rem;
  }

}

@mixin slp-font-size-lg {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin slp-font-size-md {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.0rem;
}

@mixin slp-font-size-base {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;

  @media (max-width: $breakpoint-md) {
    font-size: 1.4rem;
    line-height: 2rem;
  }

}

@mixin slp-font-size-sm {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.0rem;
}

@mixin slp-font-size-xs {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.0rem;
}

@mixin slp-bold {
  font-weight: 700;
}

@mixin slp-ultra-bold {
  font-weight: 900;
}

.slp-container .font-size-4xl,
.slp-container h1 {
  @include slp-font-size-4xl;
}

.slp-container .font-size-3xl,
.slp-container h2 {
  @include slp-font-size-3xl;
}

.slp-container .font-size-2xl,
.slp-container h3 {
  @include slp-font-size-2xl;
}

.slp-container .font-size-xl,
.slp-container h4 {
  @include slp-font-size-xl;
}

.slp-container .font-size-lg,
.slp-container h5 {
  @include slp-font-size-lg;
}

.slp-container .font-size-md,
.slp-container h6 {
  @include slp-font-size-md;
}

.slp-container,
.slp-container .font-size-base,
.slp-container p,
.slp-container li {
  @include slp-font-size-base;
}

.slp-container .font-size-sm {
  @include slp-font-size-sm;
}

.slp-container .font-size-xs {
  @include slp-font-size-xs;
}

.slp-container li {
  margin-top: 0;
}

.slp-container .slp-bold {
  @include slp-bold;
}

.slp-container .slp-ultra-bold {
  @include slp-ultra-bold;
}
