
.container2020 .card {
  border-radius: 6px;
  box-shadow: $box-shadow;
  margin: 16px;
  border: 1px solid #F2F2F2;
  width: calc(30% - 16px);
  background-color: $color-white;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }

  .card-image {
    border-bottom: 1px solid  #F2F2F2;
    height: 192px;
    position: relative;

    svg {
      max-height: 100px;
      max-width: 285px;
      fill: $color-black333;
      filter: grayscale(100%);
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      position: absolute;
    }
  }

  .overline-text {
    padding: 44px 32px 0 32px;
    margin-bottom: 0;
    font-weight: 400px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 28px;
    color: $color-black;
  }

  .headline-text {
    font-weight: 400px;
    margin-bottom: 0;
    padding: 26px 32px 10px 32px;
    font-size: 23px;
    line-height: 28px;
    color: $color-black;
  }

  .secondary-text {
    font-size: 16px;
    line-height: 20px;
    padding: 0 32px 26px 32px;
    margin-bottom: 0;
    color: $color-black;
  }

  .btn:first-of-type {
    margin: 0 32px 32px 32px;
  }

  .text-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: $color-primary-dark;
    padding: 0 32px 32px 32px;
  }
}

.container2020 .cards {
  display: flex;
  flex-wrap: wrap;
}

