//Dropdowns
.dropdown-menu-toggle,
.dropdown-menu {
  width: 100%;
}

.dropdown-menu {
  padding: 8px;
  background-color: $color-white;

  li {
    padding: 5px 8px;

    &:hover:not(.filter-container) {
      cursor: pointer;
      background-color: $dropdown-hover-color;
      text-decoration: none;
      outline: 0;

      span {
        color: $dropdown-events-text-color;
      }
    }
  }

  .filter-container {
    padding: 5px;
  }

  .value {
    float: none;
  }
}

.dropdown {
  margin-bottom: 10px;
}

.btn.dropdown-menu-toggle {
  width: 180px;
}


