@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  background: $body-bg;
}

p,
a {
  margin: 0;
}

.iframe-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: $blog-color-image-to;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;

  iframe {
    background-color: $color-black;
    box-shadow: 0 10px 20px $color-transparent-alt;
    width: 77%;
    height: 80%;
    min-height: 300px;

    @media (max-width: $screen-sm-min) {
      height: auto;
    }

  }
}
