@import "vendor/bootstrap/bootstrap/responsive-embed";
@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "mixins/ie10-and-up";
@import "mixins/triangle";
@import "components/flex-row";
@import "utility-classes";

$dev-2019-color-blue: #00ffeb;
$dev-2019-color-purple: #151028;
$dev-2019-color-orange: #E24329;
$dev-2019-color-yellow: #ffd900;
$dev-2019-color-dark-purple: #670077;
$dev-2019-color-pink: #a6009c;

$development-planet-size: 275px;
$development-planet-small-size: 215px;
$development-ring-scale: 2.5;
$development-bars-scale: 1.55;

$operations-planet-size: 325px;
$operations-planet-small-size: 215px;
$operations-ring-scale: 1.25;
$operations-bars-scale: 1.60;

$security-planet-size: 325px;
$security-planet-small-size: 215px;
$security-ripple-scale: 1.75;
$security-stars-scale: 1.5;

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $dev-2019-color-purple;
  color: $color-white;
  padding-top: 0;

  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: lighten($link-color, 25%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($link-hover-color, 25%);
  }
}

h1 {
  @extend %u-margin-top-lg;
  @extend %u-margin-bottom-xs;
  @include accent-font-black;

  font-size: 46px;

  @media (min-width: $screen-sm-min) {
    font-size: 54px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 56px;
  }

  &.huge {
    @include accent-font-black;
    font-size: 45px;

    @media (min-width: $screen-sm-min) {
      font-size: 72px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 80px;
    }    
  }
}

h2 {
  color: $color-white;
  font-size: 32px;
  font-weight: 3  00;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 40px;
  }
}

h3 {
  color: $color-white;
  font-size: 28px;
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 32px;
  }
}

p {
  color: $color-white;
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
}

.btn-dev-2019 {
  @extend %u-margin-top-xs;
  @include font-weight-bold;
  
  color: $dev-2019-color-purple;
  background-color: $dev-2019-color-blue;
  transition: all 200ms;

  &.center {
    margin: 0 auto;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: translateY(2px);
  }
}

#main-nav.navbar {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  position: relative;

  a {
    font-size: 20px;
    font-weight: 600;
  }
}

.footer {
  margin-top: 0;
  background-color: $dev-2019-color-purple;
}

.hero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  padding-top: ($spacing-unit-xl * 2);
  position: relative;

  @media (max-width: $screen-md-min) {
    padding-top: 0px;

    h1 {
      padding-right: 100px;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 90px;
        height: 90px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        top: 61px;
        right: 18px;
        background-image: url("/images/dev-survey-2019/blue-planet.png");
        background-position-y: top;
      }
    }
  }

  h1 {
    max-width: 700px;
    text-align: left;
    position: relative;
  }

  img {
    width: 100vw; 
    min-width: 350px;
    max-width: 1337px;
    margin-left: -200px;
    height: auto; 
    top: 100px;
    z-index: -1;
    position: absolute;

    @media (max-width: $screen-md-min) {
      width: 90vw;
      margin: 50px 0 -50px 0px;
      height: auto;
      top: 10px;
      position: relative;
    }
  }
}

.introduction {
  @extend %u-margin-top-lg;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  @media (max-width: $screen-md-min) {
    flex-direction: column;
  }

  .text-wrapper {
    @extend %u-margin-right-sm;
    @extend %u-margin-bottom-md;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: $screen-md-min) {
      img {
        display: none;
      }
    }

    img {
      margin-top: -($spacing-unit-lg);
      flex: 1;
      max-width: 400px;
      min-width: 300px;
      margin-right: 50px;
      margin-left: -100px;
      object-fit: contain;
    }
  }

  .btn {
    margin-top: 40px;
  }
}

.category {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

.category-image {
  margin-top: ($spacing-unit-xl * 2);

  @media (max-width: $screen-md-min) {
    margin-top: $spacing-unit-xl;
  }
}

.category-keypoints-container {
  max-width: 1024px;
  z-index: 1;
}

.category-keypoints {
  list-style: none;
  padding: 0;

  .category-keypoint {
    font-size: 20px;
    position: relative;
    margin-top: $spacing-unit-xs;
    line-height: 34px;
    font-weight: 300;
    display: none;

    &:nth-child(1) {
      display: block;
      font-weight: 400;
    }

    .expanded & {
      display: block;
    }
  }

  figure {
    margin: $spacing-unit-lg 0;

    & + figcaption {
      margin-bottom: 0;      
    }
  }

  figcaption {
    max-width: 70%;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
    font-style: italic;

    @media (max-width: $screen-md-min) {
      max-width: 100%;
    }
  }

  .keypoint-image {
    max-width: 715px;
    margin: 0 auto;
    display: block;
  }
}

.chart-keypoint {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 125px auto;
  z-index: 1;
}

.chart {
  color: "#fff";
  max-width: 600px;
  width: 100%;
}

.chart-caption {
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  max-width: 500px;
  text-align: left;
}

.chart-title {
  color: $dev-2019-color-orange;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.chart-list {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.chart-list li {
  font-size: 24px;
  margin-bottom: 12px;
  transition: all 200ms;
  transform: translateX(-5px);
  opacity: 0;

  .is-visible & {
    opacity: 1;
    transform: translateX(0px);
  }

  @for $i from 1 through 15 {
    &:nth-child(#{$i}) {
      transition-delay: $i * 150ms;

      & .bar {
        transition-delay: 100ms + $i * 150ms;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    font-size: 20px;
  }
}

.chart-list li span {
  font-style: italic;
  font-weight: 400;
}

.chart-list li b {
  font-weight: 700;
}

.chart-list li .bar {
  margin-top: 5px;
  color: transparent;
  height: 10px;
  border-radius: 15px;
  transition: width 250ms;
  width: 0px;

  .not-visible & {
    width: 0px !important; // sass-lint:disable-line no-important
  }
}

.large-text-keypoint {
  padding: 30px 40px;
  text-align: left;
  position: relative;
  opacity: 0;
  transform: translateX(-5px);
  transition: all 250ms;
  transition-delay: 200ms;

  &.is-visible {
    transform: translateX(0px);
    opacity: 1;    
  }

  p {
    font-size: 32px;
    line-height: 42px;
  }
  
  @media (max-width: $screen-md-min) {
    padding: 15px 10px;

    p {
      font-size: 28px;
      line-height: 38px;
    }
  }
}

.pdf {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: ($spacing-unit-xl * 2) 0;
  min-height: 700px;
  padding: $spacing-unit-md $spacing-unit-sm $spacing-unit-xl $spacing-unit-sm;
  position: relative;

  @media (max-width: $screen-md-min) {
    margin: $spacing-unit-xl 0;
  }

  .confirm-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn {
      margin-top: 70px;
    }

    p {
      text-align: center;
      margin-top: 45px;
    }
  }

  .form-wrapper {
    position: relative;

    &:before,  &:after {
      content: "";
      display: block;
      position: absolute;
      width: 300px;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &:before {
      top: 25px;
      left: -175px;
      background-image: url("/images/dev-survey-2019/form-top-left.png");
      background-position-y: top;

      @media (max-width: $screen-md-min) {
        top: -73px;
      }
    }

    &:after {
      bottom: 25px;
      right: -175px;
      background-image: url("/images/dev-survey-2019/form-bottom-right.png");
      width: 300px;
      height: 100%;
      background-position-y: bottom;

      @media (max-width: $screen-md-min) {
        bottom: -25px;
      }
    }
  }

  h1, h2 {
    max-width: 700px;  
    text-align: center;
  }

  .mktoForm { // sass-lint:disable-line class-name-format
    position: relative;

    .mktoField { // sass-lint:disable-line class-name-format
      color: #333;
    }

    .mktoCheckboxList { // sass-lint:disable-line class-name-format
      margin-left: 10px;
    }

    .mktoButton { // sass-lint:disable-line class-name-format
      background-color: $dev-2019-color-pink; 
    }

    .download-button {
      bottom: -40px; 
      right: 0;
      position: absolute;
    }
  }
}

// Planets
.planet-container {
  width: 100%;
  margin: ($spacing-unit-xl * 3) 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  
  @media (min-width: $screen-md-min) {
    padding-right: 140px;
    justify-content: flex-end;
  }

  @media (max-width: $screen-sm-min) {
    margin-bottom: 100px;
  }
}

// Development Planet
.development-planet, .development-planet-rings, .development-planet-bars {
  width: $development-planet-size;
  height: $development-planet-size;
  position: absolute;

  @media (max-width: $screen-sm-min) {
    width: $development-planet-small-size;
    height: $development-planet-small-size;
  }
}

.development-planet {
  box-shadow: 0 0 16px -1px $dev-2019-color-yellow;
  border-radius: 50%;
  animation: development-glow 3s ease-in-out infinite;
}

.development-planet-rings {
  border-radius: 50%;
  transition: transform 0.3s;
  animation: development-ring-spin 32s linear infinite;
}

.development-planet-bars {
  transform: scale($development-bars-scale);
  transform-origin: center;
}

@keyframes development-glow {
  0% {
    box-shadow: 0 0 16px -1px $dev-2019-color-yellow;
  }

  50% {
    box-shadow: 0 0 10px -1px $dev-2019-color-yellow; 
  }

  100% {
    box-shadow: 0 0 16px -1px $dev-2019-color-yellow;
  }
}

@keyframes development-ring-spin {
  0% {
    transform: scale($development-ring-scale) rotateX(80deg) rotateY(-15deg) rotateZ(0);
  }

  100% {
    transform: scale($development-ring-scale) rotateX(80deg) rotateY(-15deg) rotateZ(360deg);
  }
}

.operations-planet, .operations-satellite, .operations-planet-bars {
  width: $operations-planet-size;
  height:  $operations-planet-size;
  position: absolute;

  @media (max-width: $screen-sm-min) {
    width: $operations-planet-small-size;
    height: $operations-planet-small-size;
  }
} 

.operations-planet {
  transform: rotateZ(90deg);
  box-shadow: 0 0 16px -1px $dev-2019-color-blue;
  border-radius: 50%;
  animation: operations-glow 3s ease-in-out infinite;
}

.operations-satellite {
  transition: transform 0.3s;
  animation: operations-spin 15s linear infinite;
  transform-style: preserve-3d;  
  z-index: 2;
}

.operations-planet-bars {
  transform: scaleX(-$operations-bars-scale) scaleY($operations-bars-scale);
  transform-origin: center;
}

.vertical {
  animation: operations-vertical-spin 15s linear infinite;
}

.vertical .operations-satellite-body {
  animation: operations-satellite-lock-vertical 15s linear infinite;
}

.operations-satellite-body {
  position: absolute;
  width: $operations-planet-size * 0.093;
  height: $operations-planet-size * 0.053;
  right: calc(50% - 15px);
  top: -5px;
  animation: operations-satellite-lock-horizontal 15s linear infinite;
}

.operations-satellite-body::before {
  content: "";
  background-color: $color-white;
  position: absolute;
  width: 2px;
  height: 2px;
  top: 10px;
  left: ($operations-planet-size * 0.093) / 2;
  border-radius: 50%;
  transform: rotateZ(0deg) rotateX(20deg);
  animation: operations-flash 2s linear infinite;
}

@keyframes operations-glow {
  0% {
    box-shadow: 0 0 16px -1px $dev-2019-color-blue;
  }

  50% {
    box-shadow: 0 0 10px -1px $dev-2019-color-blue; 
  }

  100% {
    box-shadow: 0 0 16px -1px $dev-2019-color-blue;
  }
}

@keyframes operations-flash {
  0%, 12% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}
 
@keyframes operations-satellite-lock-vertical {
  0% {
    transform: rotateX(90deg) rotateY(130deg) rotateZ(90deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(-225deg) rotateZ(90deg);
  }
}

@keyframes operations-satellite-lock-horizontal {
  0% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(270deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(-360deg) rotateZ(270deg);
  }
}

@keyframes operations-spin {
  0% {
    transform: scale($operations-ring-scale) rotateX(75deg) rotateY(0) rotateZ(0);
  }

  100% {
    transform: scale($operations-ring-scale) rotateX(75deg) rotateY(0) rotateZ(360deg);
  }
}
@keyframes operations-vertical-spin {
  0% {
    transform: scale($operations-ring-scale) rotateX(0deg) rotateY(-60deg) rotateZ(145deg);
  }

  100% {
    transform: scale($operations-ring-scale) rotateX(0deg) rotateY(-60deg) rotateZ(505deg);
  }
}

// Security Planet
.security-planet, .security-planet-stars, .security-planet-glow, .security-planet-ripple-1, .security-planet-ripple-2 {
  position: absolute;
  width: $security-planet-size;
  height: $security-planet-size;

  @media (max-width: $screen-sm-min) {
    width: $security-planet-small-size;
    height: $security-planet-small-size;
  }
}

.security-planet-glow {
  box-shadow: 0 0 16px 1px $dev-2019-color-dark-purple;
  border-radius: 50%;
  animation: security-glow 3s ease-in-out infinite;
}

.security-planet-ripple-1, .security-planet-ripple-2 {
  animation: security-planet-ripples 3s infinite;
  opacity: 0;
  transform: scale(0);
}

.security-planet-ripple-2 {
  animation-delay: 1s;
}

.security-planet-stars {
  transform: scale($security-stars-scale);
  transform-origin: center;
  opacity: 0.5;
  z-index: -1;
}

@keyframes security-glow {
  0% {
    box-shadow: 0 0 16px -1px $dev-2019-color-dark-purple;
  }

  50% {
    box-shadow: 0 0 10px -1px $dev-2019-color-dark-purple; 
  }

  100% {
    box-shadow: 0 0 16px -1px $dev-2019-color-dark-purple;
  }
}

@keyframes security-planet-ripples {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  99% {
    opacity: 0;
    transform: scale($security-ripple-scale);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}