@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//sass-lint:disable-all

.mktoRequiredField .mktoAsterix { // sass-lint:disable-line class-name-format
  display: none;
}

.mktoForm { // sass-lint:disable-line class-name-format
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.mktoClear { // sass-lint:disable-line class-name-format
  display: none;
}

.mktoFormRow { // sass-lint:disable-line class-name-format
  display: inline;
  width: inherit;
}

.mktoFieldDescriptor.mktoFormCol { // sass-lint:disable-line class-name-format
  display: inline-block;
  height: 101px;
  margin: 0px 10px;
  max-width: 330px;
  width: 100%;
}

.gdpr_compliant__c .mktoFieldDescriptor { // sass-lint:disable-line class-name-format
  height: inherit;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.mktoFormRow.newslettersegment__c_lead .mktoFieldDescriptor { // sass-lint:disable-line class-name-format
  height: inherit;
}

.newslettersegment__c_lead label { // sass-lint:disable-line class-name-format
  margin-left: 0px;
}

.newslettersegment__c_lead { // sass-lint:disable-line class-name-format
  display: block;
  max-width: inherit;
  text-align: right;
}

.newslettersegment__c_lead .mktoFieldDescriptor { // sass-lint:disable-line class-name-format
  margin-right: 30px;
  width: inherit;
}

.newslettersegment__c_lead .mktoFieldWrap { // sass-lint:disable-line class-name-format
  float: right;
  width: auto;
}

.newslettersegment__c_lead .mktoCheckboxList:not(.mktoRequired) label { // sass-lint:disable-line class-name-format
  margin-left: 0;
}

.gdpr_compliant__c { // sass-lint:disable-line class-name-format
  display: block;
  text-align: right;
  width: calc(100% - 30px);
}

.gdpr_compliant__c .mktoFieldDescriptor { // sass-lint:disable-line class-name-format
  width: auto;
}

.mktoButtonRow { // sass-lint:disable-line class-name-format
  text-align: right;
  width: calc(100% - 30px);
}

.mktoLabel { // sass-lint:disable-line class-name-format
  color: #bbbbbb;
}

.mktoInvalid { // sass-lint:disable-line class-name-format
  border-width: 2px;
}

@media (max-width: 799px) {

  .mktoFieldDescriptor.mktoFormCol { // sass-lint:disable-line class-name-format
    margin: 0;
    max-width: 100%;
  }

  .mktoFieldDescriptor.mktoFormCol { // sass-lint:disable-line class-name-format
    height: inherit;
  }
}
