.blog.article .compare-images-2 {
  margin: 20px 0 -40%;

  .compare-image-top {
    transform: scale(.8) translate(-12%, -10%);
  }

  .compare-image-bottom {
    transform: scale(.8) translate(12%, -90%);
  }
}

.blog.article .compare-images-3 {
  margin: 20px 0 -95%;

  .compare-image-top {
    transform: scale(.8) translate(-12%, -10%);
  }

  .compare-image-middle {
    transform: scale(.8) translate(12%, -90%);
  }

  .compare-image-bottom {
    transform: scale(.8) translate(-12%, -170%);
  }
}
