@import "variables";

.bash-event {
  text-align: center;
  color: $link-box-color;
  border: 1px solid $border-color;
  padding: 20px;
  border-radius: 3px;
  background: $color-white;
  margin: 40px;
}

.label {
  text-align: center;
  border: 1px solid $bash-label-border-color;
  border-radius: 8px;
  padding: 0 3px;
}
