$maturity-icon-color: rgb(85, 68, 136);

.scroll-anchor {
  top: -70px;
  position: relative;
  visibility: hidden;
  display: block;
}

.left-align {
  text-align: left;
  display: inline-block;
}

.category-list {
  display: table;

  .category {
    display: table-row;

    .category-cell {
      display: table-cell;
      text-align: left;
      border-right: 4px solid transparent;
      border-bottom: 13.5px solid transparent;
      font-size: 14px;

      a {
        color: $maturity-icon-color;
      }

      svg {
        height: 12px;
        width: 12px;
        margin-bottom: 0px;
        position: relative;
        top: 1px;
        fill: $maturity-icon-color;
        stroke: $maturity-icon-color;
      }
      
    }

    .category-cell:last-child {
      border-right: 0 none;
    }

  }

  .category:last-row {
    border-bottom: 0 none;
  }

}

.maturity-cell {
  text-align: center;

  img, svg {
    height: 20px;
    width: 20px;
    fill: $maturity-icon-color;
    stroke: $maturity-icon-color;
    display: block;
    margin: 0 auto;
    max-width: none;
  }
}

.maturity-intro {
  width: 100%;
  margin-top: 50px;
  margin-bottom:50px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #d3d3d3;
}

#maturity-no-padding {
  padding: 0px;
}

.stage-table {
  background-color: #ffffff;
  border-style: hidden;
  table-layout: fixed;

  td:nth-child(1) {
    width: 225px;
  }

  .stage-row {
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    margin-bottom: 0px;

    a {
      font-weight: 600;
    }

    p, li {
      margin: 0px;
    }

    .stage-icon {
      border-right: 0px;
      vertical-align: middle;
      text-align: center;

      img, svg {
        height: 50px;
        fill: #6B4FBB;
        transition: .1s cubic-bezier(0,0,0,1);

        &:hover {
          transform: scale(1.1);
        }
      }

      p {
        margin-top: 10px;
      }
    }

    .stage-maturity {
      border-left: 0px;
      border-right: 0px;
      padding: 10px;
      text-align: center;
    }

    .stage-contributions {
      overflow: hidden;
      border-left: 0px;
      padding: 10px;
      text-align: center;
    }
  }

  .maturity-row {
    cursor: pointer;

    &:hover {
      &, &+ .detail-row {
        background: rgba($maturity-icon-color, 0.10);
      }
    }

    &:not(.expanded) + .detail-row {
      display: none;
    }
  }

  .detail-row {
    background: rgba($maturity-icon-color, 0.05);
  }
}

.docs-link {
  display: block;
  margin: 0 10px;
  text-align: right;

  &:after {
    content: "\2192";
    margin-left: 5px;
  }
}

.expand-all {
  @extend .docs-link;

  cursor: pointer;
  font-size: 20px;

  &:after {
    content: "[+]";
  }

  &.expanded:after {
    content: "[-]";
  }
}

.legend-table {
  border-collapse: collapse;

  td {
    border: 0;
  }
}

.drop-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #ffffff;
}

.maturity-chart-embed {
  height: 200px;
  padding: 0px;
}

.maturity-chart {
  height: 500px;
  margin-bottom: 30px;
}

.maturity-tables [id^="Chart"] {
  //sass-lint:disable no-important
  max-width: 100% !important;
}
