select.tier {
	width: 195px;
	color: #5c5c5c;
	float: right;
}

.calculator-page input {
	color: #5c5c5c;
	border: 0;
	width: 100px;

	&:focus {
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

.calculator-page .caption {
	font-size: 16px;
	color: #979797;
	float: right;
	padding: 6px;
}

.calculator-page .input-wrap {
	border: #ddd solid 1px;
	border-radius: 4px;
	height: 42px;
	background-color: #ffffff;
	width: 195px;
	float: right;
}

.calculator-page .input-wrap:hover {
	border-color: #d04a81;
}

.calculator-page .input-wrap:selected,
.calculator-page .input-wrap:selected > input {
	opacity: 0.5;
}

.calculator-page input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}

.calculator-page output.total {
	color: #d04a81;
	font-size: 40px;
	font-weight: 800;
	float: right;
	text-align: right;
}

.calculator-page .total-label {
	color: #d04a81;
}

.calculator-page .total-wrapper td {
	vertical-align: middle;
}

.calculator-page output.total::before {
	content: "$";
}

.calculator-page td {
	border: 0;
}

#calcform {
	border: 2px solid #ddd;
	padding: 2rem;
	border-radius: 4px;

	fieldset {
		align-items: center;
		box-sizing: border-box;
		border: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 8px;
	}

	label {
		max-width: 165px;
	}

	label,
	select,
	.input-wrap {
		flex: 0 0 100%;
	}
	@media (min-width: 500px) {
		label,
		select,
		.input-wrap {
			flex: unset;
		}
	}
}

.table-responsive {
	box-shadow: 2px 2px 2px 1px #d3d3d336;
}

.btns:after {
	background: url(/images/enterprise/gitlab-enterprise-icon-accent-01.svg)
		no-repeat 0 0;
	content: "";
	display: block;
	font-size: 0;
	height: 50px;
	line-height: 0;
	margin-top: 80px;
	width: 54px;
}

.form-wrapper:before {
	background: url(/images/enterprise/gitlab-enterprise-icon-accent-01.svg)
		no-repeat 0 0;
	content: "";
	display: block;
	font-size: 0;
	height: 50px;
	line-height: 0;
	margin-top: -10px;
	float: right;
	width: 93px;
}

.reset {
	margin-left: auto;
	padding: 0px;
	text-align: right;
}
