@import "2020base";
@import "2020fonts";

.navbar {
  box-shadow: $slp-box-shadow;

  .navbar-left {
    fill: unset;
  }
}

.container.container2020 {
  ul {
    list-style-type: unset;
    padding-left: $spacing-unit-sm;
  }
}

.container.container2020 a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border-color;

  .col-md-5 {
    img {
      padding-left: 30px;
    }
  }

  .out-of-office-img img {
    margin-top: $spacing-unit-sm;
  }

  .col-md-12 {
    margin-top: $spacing-unit-sm;
    padding-top: $spacing-unit-md;
    border-top: 1px solid $border-color;
  }
}

.project-background {
  .container.container2020 {
    padding-bottom: 0;
  }
}

.btn.cta-btn {
  margin-left: 0;
}

.container2020 h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container2020 h1 {
  margin-top: 30px;
  font-size: 45px;
}

.container2020 h2 {
  font-weight: 600;
}

.container2020 .bold-number {
  color: $color-lt-purple-accent;
  font-weight: 600;
}

.end-ctas .container2020 {
  padding-bottom: 0;

  h2 {
    margin-bottom: $spacing-unit-xs;
  }
}

.container2020 h4 {
  margin-bottom: $spacing-unit-xxs;
  margin-top: $spacing-unit-sm;
  font-weight: 600;
}

.block-quote {
  border-left: 4px solid #52CDB7;
  padding-left: $spacing-unit-xs;
  margin-top: $spacing-unit-sm;
  margin-bottom: $spacing-unit-sm;
  font-weight: 600;

  .quote-subtext {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
  }

  .block-quote-text {
    padding: $spacing-unit-xs 0;
  }
}

.content, .partners {
  background: $color-gray-super-light;
}

.partner-card {
  background-color: #fff;

  &:hover {
    text-decoration: none;
  }

  img {
    margin: 0 auto $spacing-unit-xs auto;
  }
}

.partners {
  h4 {
    margin-top: 0;
  }

  .col-md-4 {
    text-align: center;
  }

  img {
    max-height: 120px;
  }

  .margin-top-xs {
    margin-top: 20px;
  }
}

@media (max-width: 959px) {

  .container.container2020 {
    p {
      font-size: 18px;
    }

    h4 {
      font-size: 2.4rem;
    }

    a {
      text-decoration: underline;
    }
  }

  .header .col-md-5 {
    width: 100%;
    text-align: center;

    img {
      margin: 0 auto;
      padding-left: 0;
    }
  }

  .partners {
    .col-md-4 {
      margin-top: 20px;
    }
  }

}
