---
layout: default
title: Renewals
description: "Here you can fill a form with your account & contact information to request assistance with your renewal. Learn more!"
canonical_path: "/renewals/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css

---

.blank-header
  .header-content
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab icon pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab icon pattern right svg"
    %h1 Renewals

.gitlab-content-container
  .content

    %p.text-center Please fill out the form with your account &amp; contact information to request assistance with your renewal. Our Customer Advocate team will be in touch with you shortly.

    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1988
    :javascript
      MktoForms2.setOptions(
      {
        formXDPath : "/rs/194-VVC-221/images/marketo-xdframe-relative.html"
      });
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1988, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').show();
          return false;
        });
      });
    .confirmform{style: "display:none;"}
      %h3 Submission received!
      %p We'll be in touch shortly.
