---
title: Open Source projects
description: "Hundreds of Open Source projects have already enrolled in the GitLab Open Source Program. Join them to benefit from GitLab's top tier features at no cost."
canonical_path: "/solutions/open-source/projects/"
suppress_header: true
extra_css:
  - open-source.css
---

<div class="blank-header">
  <img class='image-border image-border-left' src='/images/home/icons-pattern-left.svg' />
  <img class='image-border image-border-right' src='/images/home/icons-pattern-right.svg' />
  <div class="header-content">
    <img src="/images/icons/explore-open-source.svg" alt="Explore open source svg">

    <h1>Open source projects on GitLab</h1>
    <p>Explore open source projects hosted on GitLab below</p>
    <a class='btn cta-btn accent' href="/free-trial/">Try GitLab for Free</a>
  </div>
</div>

<div class="gitlab-content-container">
  <div class="content tile">
    <p>Hundreds of Open Source projects have already enrolled in the GitLab Open Source Program. Join them to benefit from GitLab's top tier features at no cost.</p>
    <div class="text-center">
      <a class="btn cta-btn purple margin-top20" href='/solutions/open-source/join/'>Join the GitLab for Open Source Program</a>
    </div>
  </div>
  <div class="content">
    <table>
     <tr>
       <th>Project</th>
       <th>Description</th>
     </tr>
     <% data.oss_projects.each do |project| %>
     <tr>
       <td><a href="<%= project.project_url %>"><%= project.project_name %></td>
       <td><%= project.project_description %></td>
     </tr>
     <% end %>
    </table>
  </div>
</div>
