---
layout: default
title: GitLab + BCBS - Develop a Faster DevOps lifecycle
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline A faster DevOps lifecycle for healthcare and insurance
        %h2.page-subtitle A GitLab and Blue Cross Blue Shield webinar

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 June 7, 2018
            %p Security is a critical part of automating the DevOps lifecycle. Join us to learn how can healthcare and insurance providers within the BCBS network are developing a faster DevOps lifecycle by integrated security directly into the process with GitLab.

            %h3 In this session, we covered:
            %ul
              %li Why integrated security?
              %li Which BCBS are using GitLab?
              %li Advantages of fully integrated DevOps toolchain
              %li GitLab @ HM Health Solutions
              %li GitLab @ Cambia Health Solutions
              %li Share your DevOps Journey
              %li Q&A

            %h3 Your presenters were:
            %ul
              %li Jim Neumyer, Technical Architect, Frameworks and Tools at HM Health Solutions
              %li Matt Henson, Manager, Platform Services and Release Engineering at Cambia Health Solutions
              %li GitLab experts Joel Krooswyk and John Woods


        .col-md-4.col-md-offset-1
          %h3 If you are interested in a custom webcast for your company, please reach out to your GitLab representative or <a href="https://about.gitlab.com/sales/">fill out our contact form</a>.