---
layout: default
title: Nous vous remercions de votre intérêt pour notre prochain événement
suppress_header: true
noindex: true
extra_css:
  - home.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Nous vous remercions de votre intérêt pour notre prochain événement!
    %p
      Vous recevrez bientôt un email de confirmation avec de plus amples informations. D'ici là, n'hésitez pas à consulter notre blog et à souscrire à nos mises à jour.

.margin-top50
  = partial "includes/recent-posts"
