.download-partial.hidden-xs
  Download and install GitLab on your own server in 2 minutes
  %a#dl-partial{href: "/install/"}
    Let's do it!
%a#dl-partial-sm.btn.btn-block.btn-lg.btn-purple.install-gitlab-btn.visible-xs{href: "/install/"}
  Download and install GitLab on your own server in 2 minutes
