- start_date = "2020-04-27"
- expiration_date = "2020-06-01"

- if Date.parse(start_date)<= Date.today
  - if Date.parse(expiration_date)> Date.today
    .hello-bar-wrapper

      %a.hello-bar.animated.hello-bar-dark{ href: 'https://forms.gle/sGWL9nrQSuXup7wD7' }

        .hello-bar-content
          %p
            Submit a proposal to speak at Commit!