.hello-bar-wrapper#hello-bar-wrapper
  .hello-bar-bottom.animated.hello-bar
    %a.hello-bar-content.flex-wrap-md{ href: '/blog/2018/8/07/18/install-gitlab-one-click-gcp-marketplace/#join-us-at-google-next' }
      = image_tag "/images/logos/google-next-logo.svg", alt: "Google Next Logo SVG"
      %p
        Join us at Google Next in San Francisco, July 24-27!
    %button.dismiss-hellobar#dismiss-hellobar
      = image_tag "/images/icons/x.svg", class: "hellobar-x", alt: "Gitlab x icon svg"
:javascript
  (function() {
    var trialDismissed = false
    document.getElementById("dismiss-hellobar").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('hello-bar-wrapper').style.display = "none";
    }
  })();
