<% add_extra_css('speakers-bureau.css') %>
<% add_extra_js('libs/vue.min.js', 'libs/vue-select.min.js', 'libs/clipboard.min.js', 'libs/core-js.url.js', 'speakers-bureau.js') %>

<div class="speakers-container">
  <noscript class="speakers-bureau" data-role="<%= locals.fetch(:role, nil) %>">
    <p>Please enable JavaScript to be able to utilize the compensation calculator</p>
  </noscript>
</div>
