---
layout: default
title: GitLab’s DevSecOps Maturity Assessment
description: "In this assessment, we’ve distilled 20 important capabilities needed to make the most of DevSecOps. Download today to get started."
canonical_path: "/resources/devsecops-methodology-assessment/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/devsecops-assessment?x=gsG52p&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the assesment"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the assesment."
success_message: "You will also receive a copy of the assesment sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline 20 Capabilities for DevSecOps success
        %h2.page-headline GitLab’s DevSecOps Maturity Assessment

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p DevSecOps is an expanding practice among software development teams, and for good reason: It improves both efficiency and security while reducing friction during handoff between teams. 
            
            %p In this assessment, we’ve distilled 20 important capabilities needed to make the most of DevSecOps. Once you’ve scored your team on each, you’ll have an idea of whether you’re at an early, intermediate, or advanced level of DevSecOps maturity. Following the assessment, this download also provides an explanation of each category’s importance, as well as a list of actions you can take to improve your score. 

            %h3 What you’ll learn with this assesment:
            %ul
              %li How to evaluate your own DevSecOps practices.
              %li Which capabilities you can focus on to improve your DevSecOps.
              %li Why it’s important to continue evolving your DevSecOps maturity.

            %p Download the assessment to get started.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }
