= Gitlab::Homepage::Category.all!.each_with_object({}) { |category, memo| memo[category.key] = { name: category.name, stage: category.stage, group: category.group, label: category.label, feature_labels: category.feature_labels } }.to_json
