= Gitlab::Homepage::Group.all!.each_with_object({}) { |group, memo| memo[group.key] = { name: group.name, section: group.section, stage: group.stage, categories: group.categories, label: group.label } }.to_json
