- # Filter out members who can't possibly review anything
- team = Gitlab::Homepage.team.members.select { |member| member.type == 'person' && member.gitlab && member.name && member.projects }
= team.map { |member| { username: member.gitlab, name: member.name, role: member.role, projects: member.projects } }.to_json
