- event_watch_date = Time.parse('2020-08-25T:16:00:00-0700')
- event_expiration_date = Time.parse('2020-08-26T:22:00:00-0700')
- currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
- if (event_watch_date > currentTime)
  .promo-banner
    %span
      GitLab Commit Virtual is here.
      %a{:href => "/events/commit/"} Register Now
      for our 24 hour immersive DevOps experience.
- elsif (event_expiration_date > currentTime)
  .promo-banner
    %span
      GitLab Commit Virtual is here, our 24 hour immersive DevOps experience.
      %a{:href => "https://gitlabcommitvirtual.com/"} Watch Now
