<div id="highlight-tooltip" role="tooltip">
  <a class="highlight-tooltip-link highlight-tooltip-link-tweet" href="#" target="_blank">
    <i class="fab fa-twitter"></i>
    <span class="sr-only">Share on Twitter</span>
  </a>
  <a class="highlight-tooltip-link highlight-tooltip-link-edit" href="#" target="_blank">
    <i class="fab fa-gitlab"></i>
    <span class="sr-only">Edit this page</span>
  </a>
  <a class="highlight-tooltip-link highlight-tooltip-link-web-ide" href="#" target="_blank">
    <i class="fas fa-pen"></i>
    <span class="sr-only">Open Web IDE</span>
  </a>
  <div id="highlight-tooltip-arrow" data-popper-arrow></div>
</div>
