- include_expertise = (locals.has_key? :include_expertise)? include_expertise : false

%table
  %thead
    %tr
      %th Person
      %th Role
      - if include_expertise
        %th Expertise
  %tbody
    - team_members.each do |team_member|
      %tr
        %td= link_to team_member.name, "/company/team/##{team_member.gitlab}"
        %td= team_member.role
        - if include_expertise
          %td= team_member.expertise
