---
title: GitLab Technical Certifications - Self Paced
suppress_header: true
description: "Validate and showcase your expertise with GitLab Technical Certifications"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Technical Certifications
    %h2.headline-subtitle
      Validate and showcase your GitLab expertise

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certification Program
        %ul For more information on our certification program, see our <a href="https://levelup.gitlab.com/pages/certifications">Certifications</a> page in <a href="https://levelup.gitlab.com">LevelUp</a>.

        %h3 Certification Exams
        %p We currently offer the following certification exams:
        %ul
          %li <a href="https://levelup.gitlab.com/learn/course/gitlab-with-git-essentials-certification-exam-session">GitLab Certified Git Associate</a>
          %li <a href="https://levelup.gitlab.com/learn/course/gitlab-project-management-certification-exam-session">GitLab Certified Project Management Associate</a>
          %li <a href="https://levelup.gitlab.com/learn/course/gitlab-cicd-certification-exam-session">GitLab Certified CI/CD Associate</a>
          %li <a href="https://levelup.gitlab.com/learn/course/gitlab-security-essentials-certification-exam-session">GitLab Certified Security Specialist</a>

        %h3 Exam Pricing and Policies
        %p GitLab Certification exams are priced at USD $150 per exam attempt. All GitLab certification exam purchases are final. Purchases may not be refunded or exchanged. Exam access expires 14 days after day of registration, regardless of completion status. 
        
 
= partial "includes/services-contact-form"

