---
layout: default
title: GitLab Speakers Bureau
description: "The GitLab Speaker's Bureau helps you connect to GitLab team members and wider community members who are available to speak at events."
---

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <h2>🦊 GitLab Speakers Bureau</h2>
        <p>
            The GitLab speaker's bureau helps you connect to GitLab team members and wider community members who are available to speak at events on topics in which they specialize. To be featured on the page, please <a href ='https://about.gitlab.com/handbook/marketing/developer-relations/developer-evangelism/speakers-bureau/#join-the-speakers-bureau' target='_blank'>follow the instuctions</a> in the speaker bureau handbook page.
        </p>
    <%= partial 'includes/speakers_bureau_vue' %>
    </div>
</div>
