<% add_extra_css('data-team-value-calculator.css') %>
<% add_extra_js('libs/vue.min.js', 'libs/vue-select.min.js', 'libs/clipboard.min.js', 'libs/core-js.url.js', 'data-team-value-calculator.js') %>

<div class="data-team-value-container">
  <noscript class="data-team-value-calculator" data-role="<%= locals.fetch(:role, nil) %>">
    <p>Please enable JavaScript to be able to utilize the compensation calculator</p>
  </noscript>
</div>
