<% add_extra_js('libs/vue.min.js', 'libs/core-js.url.js', 'hypergrowth-calculator.js') %>

<noscript class="hypergrowth-calculator">
  <p>Please enable JavaScript to be able to utilize the hypergrowth calculator</p>
</noscript>
