<td style="text-align:center">
  <% case (!status.nil? ? status : fallback) %>
  <% when true %>
    <span title="Works by default">✅</span>
  <% when false %>
    <span title="Not supported">❌</span>
  <% when 'setup_required' %>
    <span title="On-by-default, but setup required">⚙️</span>
  <% when 'install_required' %>
    <span title="Setup-by-default, but installation required">🔌</span>
  <% when 'setup_and_install_required' %>
    <span title="Setup and installation required">📦</span>
  <% when 'not_applicable' %>
    <span title="Not applicable">N/A</span>
  <% end %>
</td>
