%div.table-responsive
  %table
    %thead
      %tr
        %th
          Country
        %th
          ISO Code
    %tbody
      - data.payable_countries.each do |country|
        %tr
          %td
            = country["name"]
          %td
            = country["currency_code"]

