---
title: "GitLab Code Contributor: Hannes Rosenögger"
author: Ray Paik
author_gitlab: rpaik
author_twitter: rspaik
categories: open source
image_title: '/images/blogimages/contributors-cover.png'
description: "Core team member Hannes Rosenögger shares his experience contributing to GitLab since 2014."
tags: community, collaboration, open source, contributors
ee_cta: false
postType: corporate
---

For this month's blog post, we're featuring another [Core Team](/community/core-team/) member [Hannes Rosenögger](https://gitlab.com/haynes).

### When did you first contribute to GitLab?

My first [MR to close multiple issues with one commit](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/263) was back in December 2014. So that's almost four years ago!

### Why and how did you decide to contribute to GitLab?

 I used the Community Edition privately and noticed that mentioning multiple issues in an MR only closed the first issue. Since GitLab was open source and the fix was easy, I decided to fix it myself. GitLab's open policy about everything within the company was also a huge factor.

 <%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

### Which area(s) of the GitLab product have you been contributing to?

I guess it's been pretty random for me. Most of my contributions have been on the backend side and documentation fixes, but if I see something that I can easily fix or I need a feature for my work, I try to make a contribution. I also provide support on the #gitlab IRC channel on freenode. My IRC handle is `haynes`.

### Can you tell us what you do professionally?

I am a Java software developer for a public sector organization in Germany.

### What do you like to do when you're not working?

When I'm not working, I'm probably doing something for my local scout group. I enjoy working with the kids and teaching. I also like to fix things from coffee machines to cars. Basically anything that I can fix with a bit of work.

<!-- carousel -->

<div id="carousel-example-generic-5" class="carousel slide medium center" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic-5" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic-5" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic-5" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
          <img src="/images/blogimages/Hannes-blogpost/workbench.jpg" alt="Hannes on workbench">
    </div>
    <div class="item">
      <img src="/images/blogimages/Hannes-blogpost/dishwasher.jpg" alt="Hannes working on his dishwasher">
    </div>
    <div class="item">
      <img src="/images/blogimages/Hannes-blogpost/washing_machine.jpg" alt="Washing machine repair">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-5" role="button" data-slide="prev">
    <svg class="glyphicon glyphicon-chevron-left" width="11" height="19" viewBox="0 0 11 19" xmlns="http://www.w3.org/2000/svg"><path d="M.44 10.13l8.345 8.345 2.007-2.007-6.814-6.814 6.814-6.815L8.785.832.44 9.177a.652.652 0 0 0-.202.477c0 .183.067.343.202.477z" fill-rule="evenodd"/></svg>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-5" role="button" data-slide="next">
    <svg class="glyphicon glyphicon-chevron-right" width="11" height="19" viewBox="0 0 11 19" xmlns="http://www.w3.org/2000/svg"><path d="M10.59 10.13l-8.344 8.345L.24 16.468l6.814-6.814L.24 2.839 2.246.832l8.345 8.345a.652.652 0 0 1 .201.477.652.652 0 0 1-.201.477z" fill-rule="evenodd"/></svg>
    <span class="sr-only">Next</span>
  </a>
</div>

### What advice do you have for others who may be interested in contributing to GitLab?

Contributing to GitLab is easier than it looks at a first glance and you can contribute to the community in many different ways. For example, if you want to help out translating the GitLab user interface to your native language on [CrowdIn](https://translate.gitlab.com/), this does not require programming skills or any special setup on your laptop. Also when you want to contribute code, reviewers are normally quite fast in getting back to you and are more than happy to help if you have any questions.

If you are unsure how to get started or you need help, anyone should feel free to ping me on Twitter ([@hrosenoegger](https://twitter.com/hrosenoegger)) or in the #gitlab IRC channel on [freenode](http://freenode.net/).

### Anything else you want to share with the community?

I love the fact that GitLab actually listens to the community. Even after they make a decision to add a new, paid feature, when community members believe it makes more sense to have the feature in [GitLab Core](/pricing/#self-managed) or the free tier of [GitLab.com](/pricing/), they will actually port it back. The [Squash and Merge feature](/releases/2018/06/22/gitlab-11-0-released/#squash-and-merge-in-gitlab-core-and-gitlabcom-free) is a good example of that.

## Interested in learning how you can contribute?

A good place to start is the [Contributing to GitLab page](/community/contribute/), where you can learn how you can contribute to GitLab code, documentation, translation, and UX design.

If you have any questions, you are always welcome to reach me at rpaik@gitlab.com.

_Note: This post is part of [a series featuring people who contribute to GitLab](/blog/tags.html#contributors)._
