---
title: "Salani kakuhle (bye!) and thanks for a great summit in Cape Town!"
author: Rebecca Dodd and Daisy Miclat
author_twitter: gitlab
guest: true
categories: company
image_title: '/images/blogimages/summit_recap_pic_post.jpg'
description: "And just like that, it was all over. Check out the highlights and keynote from our recent summit in South Africa."
tags: culture, events, remote work, inside GitLab
ee_cta: false
featured: yes
postType: corporate
---

From August 23-29, 350 GitLab team-members, significant others, community members, and customers descended on Cape Town, South Africa to get to know one another IRL at our sixth [summit](/events/summit-las-vegas/). As an all-remote company, it’s not often we’re all in one place, so we get together every nine months to hang out, bond, take in the local sights, and even get a little work done.

## Highlights

### Keynote

After getting settled in and, for many, powering through some brutal jetlag, we gathered for the opening keynote with Chief Culture Officer [Barbie Brewer](/company/team/#BarbieJBrewer), Chief Revenue Officer [Michael McBride](/company/team/#mmcb), Head of Product [Mark Pundsack](/company/team/#MarkPundsack), and CEO and co-founder, [Sid Sijbrandij](/company/team/#sytses), which you can watch below:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/4BIsON95fl8" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

### Challenge

It’s become [tradition at our summits for Sid to throw down the gauntlet with a few challenges](/blog/2017/10/25/gitlab-summit-greece-recap/#summit-challenges), and this year’s was no different:

![Cape Town summit challenges](/images/blogimages/summit2018/summit-challenge-slide.png){: .shadow.medium.center}

And, as with previous summits, we were promised to be rewarded richly for meeting the challenges:

![Cape Town summit challenges reward](/images/blogimages/summit2018/summit-challenge-win.png){: .shadow.medium.center}

It's also become tradition that we hit it out of the park 😎 We're happy to report that we were successful in challenges! Greg Brewer was convinced and is #movingtogitlab, and we've [added the ability to request a free instance check](https://gitlab.com/gitlab-org/gitlab-ee/merge_requests/6995).

### Excursions

The summits also give us an amazing opportunity to get to know the area that we’re visiting. We were able to choose from some phenomenal excursions throughout Cape Town to learn more about the culture and history of what locals affectionately call the Mother City.

<!-- carousel -->

<div id="carousel-example-generic-5" class="carousel slide medium center" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic-5" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic-5" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic-5" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
          <img src="/images/blogimages/summit2018/cape-of-good-hope.jpeg" alt="Cape of Good Hope">
    </div>
    <div class="item">
      <img src="/images/blogimages/summit2018/lanzerac-wine-tour.jpg" alt="Lanzerac wine tour">
    </div>
    <div class="item">
      <img src="/images/blogimages/summit2018/robben-island.jpg" alt="Robben Island">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-5" role="button" data-slide="prev">
    <svg class="glyphicon glyphicon-chevron-left" width="11" height="19" viewBox="0 0 11 19" xmlns="http://www.w3.org/2000/svg"><path d="M.44 10.13l8.345 8.345 2.007-2.007-6.814-6.814 6.814-6.815L8.785.832.44 9.177a.652.652 0 0 0-.202.477c0 .183.067.343.202.477z" fill-rule="evenodd"/></svg>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-5" role="button" data-slide="next">
    <svg class="glyphicon glyphicon-chevron-right" width="11" height="19" viewBox="0 0 11 19" xmlns="http://www.w3.org/2000/svg"><path d="M10.59 10.13l-8.344 8.345L.24 16.468l6.814-6.814L.24 2.839 2.246.832l8.345 8.345a.652.652 0 0 1 .201.477.652.652 0 0 1-.201.477z" fill-rule="evenodd"/></svg>
    <span class="sr-only">Next</span>
  </a>
</div>


#### Boulders Beach and the Cape of Good Hope

A beautiful tour along the coast and the opportunity to say hello to our furry friends, our first stop on this excursion was Boulders Beach, where we saw cute African Penguins waddling around, taking swims, and hanging out. They weren’t fazed by us humans. If anything they enjoyed the attention! Up next, we drove to the southernmost tip of Africa, through breathtaking, untouched terrain. Along the way, we spotted local wildlife including antelopes, ostriches, and a couple of feisty baboons.

#### Robben Island

A somewhat choppy 20-minute ferry ride from Victoria Wharf, [Robben Island](http://www.robben-island.org.za/) is home to the prison where political activist and South Africa's first democratic president Nelson Mandela was imprisoned for 18 years. Our tour guide was a former prisoner himself, and he shared his experiences and the history of Robben Island. Although it was a somber setting, we were able to learn more about the history of South Africa and how inequality existed not too long ago.

#### Cape winelands

The Western Cape is home to some spectacular wine estates. Some GitLab team-members visited [Groot Constantia](https://www.grootconstantia.co.za/), the oldest wine-producing estate in the country, while others ventured further to Paarl, Franschhoek and Stellenbosch for a leisurely day of vineyard hopping and tasting. Those of us checking baggage loaded up on the good stuff to take home.

#### City and cultural tour

A tour of the city center included visits to the [District Six Museum](http://www.districtsix.co.za/), [Castle of Good Hope](https://castleofgoodhope.co.za/), and the [Slave Lodge](https://www.iziko.org.za/museums/slave-lodge), stopping off at the V&A Waterfront for lunch. Some persuasive GitLab team-members got the tour guide to agree to a diversion to quirky coffee shop and Capetonian institution, [Truth Café](https://truth.coffee/pages/truth-cafe), to soak up some of the city's coffee culture.

#### Tour of Langa

Some GitLab team-members also visited Langa, the oldest township in Cape Town. After being greeted by the locals at the cultural center, they shared their dance, music, and history. Some of us were even able to participate and beat on the drums or do a little dancing! Our tour guide shared the history of the township: its beginnings during Apartheid, how things are today, and where they are striving to rebuild unity within the community. Our tour ended with a lovely dance performance and goodbyes from the locals.

### UGC sessions

Our summit UGC (user-generated content) sessions are an opportunity for anyone attending to raise a subject for discussion or run a workshop. With topics as diverse as "Kubernetes 101," "Learn to Yo-Yo for fun and profit," "How to be a great public speaker," "Yoga/body balance," and "Cocktail making class," there's always something for everyone, and it's up to individuals to decide how formal or off-the-cuff they want their session to be.

<!-- carousel -->

<div id="carousel-example-generic-4" class="carousel slide medium center" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic-4" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic-4" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/blogimages/summit2018/yoga-ugc.jpg" alt="Yoga and body balance session">
    </div>
    <div class="item">
      <img src="/images/blogimages/summit2018/for-funs-sake-ugc.jpg" alt="Pinpoint pain points in GitLab session">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-4" role="button" data-slide="prev">
    <svg class="glyphicon glyphicon-chevron-left" width="11" height="19" viewBox="0 0 11 19" xmlns="http://www.w3.org/2000/svg"><path d="M.44 10.13l8.345 8.345 2.007-2.007-6.814-6.814 6.814-6.815L8.785.832.44 9.177a.652.652 0 0 0-.202.477c0 .183.067.343.202.477z" fill-rule="evenodd"/></svg>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-4" role="button" data-slide="next">
    <svg class="glyphicon glyphicon-chevron-right" width="11" height="19" viewBox="0 0 11 19" xmlns="http://www.w3.org/2000/svg"><path d="M10.59 10.13l-8.344 8.345L.24 16.468l6.814-6.814L.24 2.839 2.246.832l8.345 8.345a.652.652 0 0 1 .201.477.652.652 0 0 1-.201.477z" fill-rule="evenodd"/></svg>
    <span class="sr-only">Next</span>
  </a>
</div>

As we grow, the summit grows with us. Now, our formidable resident summit expert [Kirsten](/company/team/#kirstenabma) is focusing on planning our summits FULL TIME. As we closed out our Cape Town gathering, she announced to wild cheers that our next one will be going down in May 2019, in New Orleans, LA, USA! Bring on the beignets!

See you next time 🇿🇦
