---
title: "Highlights from AWS re:Invent 2018"
author: Priyanka Sharma
author_gitlab: pritianka
author_twitter: pritianka
categories: company
image_title: '/images/blogimages/aws-2018/aws_booth_2018.jpeg'
description: "Catch up on what GitLab got up to at AWS re:Invent last week! Reinventing pipelines, emerging as a single application, theCUBE interviews, and more."
tags: CI, community, demo, events, news, kubernetes, inside GitLab, open source
twitter_text: "Check out the highlights from @gitlab at #AWSreInvent 2018"
postType: corporate
cta_button_text: 'Watch: GitOps expert panel'
cta_button_link: '/why/gitops-infrastructure-automation/'
---

Last week GitLab was at AWS re:Invent 2018, the marquee event for cloud computing in the US. As the frontrunner in the space, Amazon has built re:Invent to be a juggernaut. This year it commanded most of the Las Vegas strip and had over 50,000 attendees. As a first-time visitor myself, I was impressed by the sheer scale and efficiency of the event. I was also thrilled to achieve my personal goal of giving my first talk with a live demo using code and GitLab. As for GitLab, we saw that our company emerged as a leader in the DevOps space with a single application for the whole software development lifecycle.

## Highlights

### Reinventing CI/CD pipelines

Our CEO [Sid Sijbrandij](/company/team/#sytses) and I did a talk and live demo about reinventing CI/CD pipelines using GitLab, [Kubernetes](/solutions/kubernetes/), and EKS. This was our first hint that this re:Invent was going to be special. The talk was bursting at the seams with attendees, as we shared both the challenges of the toolchain crisis engulfing our ecosystem, and about how a single application for the entire DevOps lifecycle can make an improvement of over 200 percent in cycle times. You can [check out the presentation here](https://docs.google.com/presentation/d/1x1g4pfpoaav9lhcYkjAJylLMl-9S0JFTeKXlNF98O-I/edit?usp=sharing).

![Sid Sijbrandij and Priyanka Sharma on stage at AWS re:Invent](/images/blogimages/aws-2018/aws_2018_sid_talk_stage.jpeg){: .shadow.medium.center}

The demo, which showed us running a CI/CD pipeline and deploying code to Kubernetes on EKS, is an example of the [cloud native workflows](/topics/cloud-native/) users can push via GitLab. It is such competency that makes Kubernetes on EKS a breeze and is the reason GitLab was awarded the [AWS Partner DevOps Competency Certification](/blog/2018/11/28/gitlab-achieves-aws-devops-competency-certification/) to confirm our viability and excellence as a DevOps solution for companies using AWS Cloud.

### Validation for our vision

Our experience at re:Invent was one of validation and emergence. As a company, we saw that our efforts to build the first single application for the entire DevOps lifecycle have paid off and our users resonated with our message. Most folks who came to our booth were aware that GitLab played a part in multiple stages (if not all) of their workflow and many were avid [GitLab CI](/features/continuous-integration/) fans. Gone are the days when [version control](https://docs.gitlab.com/ee/topics/gitlab_flow.html) was the only thing GitLab was associated with.

![Collage from GitLab at AWS re:Invent](/images/blogimages/aws-2018/aws_booth_collage.jpeg){: .medium.center}

Our VP of Alliances, [Brandon Jung](/company/team/#brandoncjung), [appeared on theCUBE](https://www.youtube.com/watch?v=Ejs5xGAhL8s) with a company called Beacon. As the former head of partnerships at Google Cloud, Brandon has a long history with GitLab. He has seen the company grow over the years and shared how our rocketship ascent across the DevOps lifecycle convinced him of the potential. He said, "In just over two years, [GitLab became the frontrunner for continuous integration](/blog/2017/09/27/gitlab-leader-continuous-integration-forrester-wave/), according to Forrester. That's impressive."

### Livestream with The New Stack

I also represented GitLab on [a livestream podcast](https://www.pscp.tv/w/1eaJbODAepnxX) with [The New Stack](https://thenewstack.io/), [Matt Biilmann](https://twitter.com/biilmann?lang=en), CEO of [Netlify](/blog/2018/06/13/netlify-launches-gitlab-support/), and [Joe Beda](https://twitter.com/jbeda), founder of [Heptio](https://heptio.com/) and creator of Kubernetes. We discussed GitOps, NoOps, and the toolchain crisis. As Matt wisely said, "Trust in open source is critical to cloud computing and the ecosystem. Companies like GitLab will keep the players honest."

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">GitOps, NoOps and the tool chain crisis. <a href="https://t.co/mtfm8OaYYD">https://t.co/mtfm8OaYYD</a></p>&mdash; The New Stack (@thenewstack) <a href="https://twitter.com/thenewstack/status/1067881587214184448?ref_src=twsrc%5Etfw">November 28, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

We thank AWS for creating this amazing ecosystem of end users and practitioners who came together in Vegas last week. Next year will be bigger, better. Until then, see you all at [KubeCon](/events/)! 😃
