---
title: "What I Learned about the CEO's Job from Participating in GitLab's CEO Shadow Program"
author: Emilie Schario
author_gitlab: emilie
author_twitter: emilieschario
categories: unfiltered
image_title: '/images/blogimages/book.jpg'
description: "GitLab's CEO Shadow program gives team members insight into what the CEO does"
tags: careers, inside GitLab, startups
twitter_text: "What I Learned about the CEO's Job from Participating in GitLab's CEO Shadow Program"
postType: corporate
---

{::options parse_block_html="true" /}



Over the first two weeks in August, I got the chance to participate in GitLab's [CEO Shadow program](/handbook/ceo/shadow/#rotation-schedule), during which Shadows attend upwards of 90% of the CEO's meetings over the course of their 2-week rotation.
We attend job interviews, 1-on-1s that the CEO has with his direct reports, investor calls, and everything else that comes up.
During my two week rotation, I was asked to drop off calls twice and asked to not join a 1:1 once.
Shadows are welcome to join any and all meetings, except for where the guest requests otherwise.

While I had seen Sid's calendar leading up to my Shadow rotation, I really did not know what to expect.
I had chatted with other [Shadow alumni](/handbook/ceo/shadow/#ceo-shadow-program-alumni-and-learnings), but their words of advice did not convey exactly how to prepare.
I knew I wanted to turn the whole experience into a learning opportunity where I could sponge up every interaction.
I knew there would be a lot going on.
I planned to take it all in, then leave room for synthesis later.

Now, as I reflect on my notes, I think the biggest clarity I've gotten is on *what the CEO's job is* and how that is reflected in Sid's day-to-day.
From what I saw, no two days are alike - the weeks even less so - but when I sat back there were three obvious themes that emerged: making big decisions, reinforcing our values, and stepping in wherever there is a leadership gap.

## Making Big Decisions

At GitLab, we believe in having a [DRI](/handbook/people-group/directly-responsible-individuals/) - Directly Responsible Individual - for most decisions.
For example, product managers are DRIs for their areas of the product. Having DRIs is an incredible aspect of GitLab, as it helps keep [collaboration](/handbook/values/#collaboration) from devolving into decisions by consensus and helps empower us to work asynchronously.

If there's a moment where a decision needs to be made, a DRI can make a decision.
If another piece of information comes up, we can make another decision. Rarely are decisions [one-way door decisions](/handbook/values/#make-two-way-door-decisions).
[Making decisions quickly](/handbook/leadership/mitigating-concerns/#loss-of-velocity) is key to how [we can ship](/releases/categories/releases/) as much as we do, [iterating](/handbook/values/#iteration) along the way.

I think it probably seems obvious that a CEO makes decisions all the time, but given the way we set DRIs for things, I was curious what sorts of decisions I could see Sid making, and I wanted to understand *why those decisions* were being escalated to Sid.
My cool discovery is that he was doing the things described in his [job family](https://handbook.gitlab.com/job-families/chief-executive-officer/).
The second requirement of the CEO's job description is
> Hire great people. Help people that are not a good fit find another job.

For many leadership roles, Sid is still involved in the hiring decision.
Since [lowering the hiring bar is one of our biggest concerns](/handbook/leadership/mitigating-concerns/#lowering-the-hiring-bar), it makes sense that this is an area where the CEO would spend his time.
Sid makes [pricing decisions](https://gitlab.com/gitlab-com/Product/blob/master/.gitlab/issue_templates/Move-A-Feature-Down.md#L25) because pricing is the CEO's job.
Sid makes the decisions that it's his job to be making.
There's no secret process behind the curtain.

## Reinforcing our GitLab Values

Every interaction with Sid is an opportunity for him to reinforce the company values.
What may look to some like *handbook policing* is simply him pushing us to continue to [write things down](/handbook/values/#write-things-down).
*An obligatory breakout call* is an opportunity to [get to know each other](/handbook/values/#get-to-know-each-other).
And *thinking too small* is just [scoping to the minimum viable change](/handbook/values/#move-fast-by-shipping-the-minimum-viable-change).

Half way through my first week, I was lucky enough to attend [TractionConf](https://www.tractionconf.io/) with Sid.
There he would be participating in a Fireside Chat with Frederic Lardinois of TechCrunch to talk about GitLab's origin story, remote work, our transparency value, and all the things that make GitLab unique.
Given that this was the first time I had seen Sid speak in-person at a non-GitLab event, I opened up a Google Doc and started typing.
I didn't have a sense of what it'd be for or how it'd be useful.
I figured better to have the notes than not and just went for it.

Two things happened that I could not have expected.
First, because I shared the doc in our #ceo channel in Slack, people helped me clean it up as I was typing notes.
I didn't have to worry about that `teh` that I mistyped because team members who were reading my notes as the talk was happening were helping me make it better.
Second, when someone tweeted about the session later on, Sid suggested I reply with my notes.
What may look to some as *pieced together notes* is really just accepting that [everything is in draft](/handbook/values/#everything-is-in-draft) and working with a [low level of shame](/handbook/values/#low-level-of-shame).
Now those notes can serve not just me, but anyone who wants to read about the session.
They're not perfect, but they are better than nothing.
Learning to work with a low level of shame is hard - probably one of the hardest transitions about working at GitLab! - but it makes everyone's work experience better.

{::options parse_block_html="true" /}
<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">I really enjoyed the talk too! Here are my notes from the session, in case they&#39;re useful <a href="https://twitter.com/hashtag/TractionConf?src=hash&amp;ref_src=twsrc%5Etfw">#TractionConf</a> <a href="https://t.co/b55bQITbNv">https://t.co/b55bQITbNv</a></p>&mdash; Emilie Schario (@emilieschario) <a href="https://twitter.com/emilieschario/status/1159667866918109190?ref_src=twsrc%5Etfw">August 9, 2019</a>
</blockquote>

By working with a low level of shame, I made it so that everyone could contribute!

While I like to think I'm good at working *in the GitLab way* and encourage my peers to do the same, I never go out of my way to push people to work even more-so.
I saw most interactions of Sid's have some aspect of stewarding our values.
Whether he was coaching his direct reports on [how we organize the handbook](/handbook/handbook-usage/#style-guide-and-information-architecture), suggesting someone stop sharing their screen in a [Group Conversation](/handbook/group-conversations/) so that it feels more like a conversation, or pointing out that a section name is not [MECEFU](/handbook/communication/#mecefu-terms), Sid was regularly stewarding our values.

## Stepping in as a Leader

I saw this most obviously when I first started at GitLab before we had a CMO.
Sid was acting-CMO, so the many ways he was stepping in to run marketing was really visible in the company - most obviously in running the Group Conversations for Marketing.

We see this behavior in most managers.
When a team member is on vacation or leave, their managers may step in to fill the gap.
Sid does the same for his direct reports.
This is most visible today in how we use [PTO Ninja](/handbook/paid-time-off/#pto-ninja).

Lots of CEO Shadows have walked away with [different takeaways](/handbook/ceo/shadow/#ceo-shadow-program-alumni-and-learnings).
The biggest understanding I walked away with was this: while Sid's job is to make decisions, steward our values, and step in when needed, it's actually expected of all of us too!
We live GitLab's values by having DRIs, helping steward our culture in small group settings, and fostering collaboration.
If you're a GitLab team member, go for the CEO Shadow program, if given the chance.
If you're thinking about rolling out a similar program at your company, I hope our details on [how the shadow program works at GitLab can be your blueprint](/handbook/ceo/shadow/).
