---
title: "2018: GitLab's year in review"
author: Emily von Hoffmann and Rebecca Dodd
author_twitter: gitlab
categories: company
image_title: '/images/blogimages/happy-holidays-cover.png'
description: "Take a look at the highlight reel from 2018 – from landing $100M in funding to welcoming a host of great open source projects to GitLab."
tags: community, inside GitLab, news, open source
ee_cta: false # required only if you do not want to display the EE-trial banner
guest: true
twitter_text: "What a year! Take a look at the highlight reel from 2018"
featured: yes
postType: content marketing
---

In 2018, we added 289 new team members, raised another round of funding, spread the word about remote work, surpassed 2,000 contributors, welcomed some awesome open source projects to GitLab, and shipped 12 releases. It's been a banner year for GitLab, so before diving into 2019, we invite you to peer back through the mists of time at the top events from the past year, according to our community:

- [Product news](#product-news)
- [Community news](#community-news)
- [Company news](#gitlab-news)

## Product news

### We announced GitLab Serverless

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Announcing GitLab Serverless 🚀<a href="https://t.co/Iu4GwHsaYK">https://t.co/Iu4GwHsaYK</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1072521159638482945?ref_src=twsrc%5Etfw">December 11, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### We introduced Meltano

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Hey, data teams! We&#39;re working on a tool just for you. Read all about Meltano, from <a href="https://twitter.com/jakecodes?ref_src=twsrc%5Etfw">@jakecodes</a> &amp; @tayloramurphy1 ✌️  <a href="https://t.co/egEzILPNzu">https://t.co/egEzILPNzu</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1024773311367131137?ref_src=twsrc%5Etfw">August 1, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### You got _really_ excited about the Web IDE

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">👋 Meet the GitLab Web IDE!<a href="https://t.co/vhx2RR1uU6">https://t.co/vhx2RR1uU6</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1007679206187249664?ref_src=twsrc%5Etfw">June 15, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### We successfully migrated to GCP and have noticed some improvements

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">What&#39;s up with <a href="https://t.co/W0iwxWzEZ8">https://t.co/W0iwxWzEZ8</a>? I wrote an analysis of <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@GitLab</a>&#39;s stability and performance since we migrated to <a href="https://twitter.com/googlecloud?ref_src=twsrc%5Etfw">@googlecloud</a> in August.<a href="https://t.co/8JvvbVq9wJ">https://t.co/8JvvbVq9wJ</a> <a href="https://twitter.com/hashtag/GoogleCloud?src=hash&amp;ref_src=twsrc%5Etfw">#GoogleCloud</a> <a href="https://twitter.com/hashtag/Cloud?src=hash&amp;ref_src=twsrc%5Etfw">#Cloud</a> <a href="https://twitter.com/hashtag/DevOps?src=hash&amp;ref_src=twsrc%5Etfw">#DevOps</a> <a href="https://twitter.com/hashtag/SaaS?src=hash&amp;ref_src=twsrc%5Etfw">#SaaS</a> <a href="https://twitter.com/hashtag/performance?src=hash&amp;ref_src=twsrc%5Etfw">#performance</a> <a href="https://t.co/L6TWhh2Z0B">pic.twitter.com/L6TWhh2Z0B</a></p>&mdash; Andrew Newdigate (@suprememoocow) <a href="https://twitter.com/suprememoocow/status/1050467664584462337?ref_src=twsrc%5Etfw">October 11, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

AND you can check out [all our releases from 2018 (and from all time) over here](/releases/categories/releases/).

## Community news

### GNOME moves to GitLab

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Anyway, I&#39;m proud of <a href="https://twitter.com/gnome?ref_src=twsrc%5Etfw">@gnome</a> because we achieved it, we made a huge effort on adapting and will continue doing it because that&#39;s who we are. And with this, I want to announce that the mass migration to <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> is now completed! Welcome all to 2018! 🎉</p>&mdash; Carlos Soriano (@csoriano1618) <a href="https://twitter.com/csoriano1618/status/1001501640623640577?ref_src=twsrc%5Etfw">May 29, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### Drupal moves to GitLab

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Welcome to the party <a href="https://twitter.com/drupal?ref_src=twsrc%5Etfw">@drupal</a>! 🎉 <a href="https://t.co/umLw6YlSTl">https://t.co/umLw6YlSTl</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1030164542360375296?ref_src=twsrc%5Etfw">August 16, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### Freedesktop.org moves to GitLab

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">We get pretty excited when open source projects tell us they’re <a href="https://twitter.com/hashtag/movingtogitlab?src=hash&amp;ref_src=twsrc%5Etfw">#movingtogitlab</a>. Welcome, <a href="https://twitter.com/hashtag/freedesktop?src=hash&amp;ref_src=twsrc%5Etfw">#freedesktop</a>! <a href="https://t.co/oLIfXZb7Va">https://t.co/oLIfXZb7Va</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1031864994747609088?ref_src=twsrc%5Etfw">August 21, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### Errrrrybody is #movingtogitlab

Well, not _quite_, but 10x the normal daily number is still a big deal 😎

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">We&#39;re seeing 10x the normal daily amount of repositories <a href="https://twitter.com/hashtag/movingtogitlab?src=hash&amp;ref_src=twsrc%5Etfw">#movingtogitlab</a> <a href="https://t.co/7AWH7BmMvM">https://t.co/7AWH7BmMvM</a> We&#39;re scaling our fleet to try to stay up. Follow the progress on <a href="https://t.co/hN0ce379SC">https://t.co/hN0ce379SC</a> and <a href="https://twitter.com/movingtogitlab?ref_src=twsrc%5Etfw">@movingtogitlab</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1003409836170547200?ref_src=twsrc%5Etfw">June 3, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### Y'all had _feelings_ about burnout

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">‣ Don&#39;t go straight to work after you wake up.<br>‣ Put <a href="https://twitter.com/hashtag/Slack?src=hash&amp;ref_src=twsrc%5Etfw">#Slack</a> notifications on dnd on weekends. <br>‣ When you notice someone in a different time zone should be asleep, tell them.<a href="https://t.co/zKiytIMXsJ">https://t.co/zKiytIMXsJ</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/975463098676076544?ref_src=twsrc%5Etfw">March 18, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### And everyone struggles with Git sometimes

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Git happens! Here&#39;s how to fix it 💅<a href="https://t.co/IMAuDH8j3P">https://t.co/IMAuDH8j3P</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1058445892464902146?ref_src=twsrc%5Etfw">November 2, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">How &amp; why to keep your Git commit history clean 💻✨ via <a href="https://twitter.com/Kushal_Pandya?ref_src=twsrc%5Etfw">@Kushal_Pandya</a> <a href="https://t.co/HbYv2KsyGQ">https://t.co/HbYv2KsyGQ</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1006245935675006977?ref_src=twsrc%5Etfw">June 11, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### We celebrated 20 years of open source ❤️

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">We&#39;re excited to celebrate the 20th anniversary of open source this year at <a href="https://twitter.com/hashtag/OSCON?src=hash&amp;ref_src=twsrc%5Etfw">#OSCON</a>! Check out our brief history of OSS ✨ <a href="https://t.co/ox2s1rDS9f">https://t.co/ox2s1rDS9f</a> <a href="https://t.co/LIdQtQWeoO">pic.twitter.com/LIdQtQWeoO</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1018886162851811328?ref_src=twsrc%5Etfw">July 16, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### And made GitLab Gold free for open source projects and educational institutions 🎉

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Today, we&#39;re excited to announce that GitLab Ultimate and Gold are now free for educational institutions and open source projects 💜<a href="https://t.co/5PA08IYnwM">https://t.co/5PA08IYnwM</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1004033746897719298?ref_src=twsrc%5Etfw">June 5, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### We celebrated inspiring GitLab users

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Video and blog about my journey from stunting motorcycles to <a href="https://twitter.com/hashtag/Kubernetes?src=hash&amp;ref_src=twsrc%5Etfw">#Kubernetes</a> - and some gushing about my love for <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> <a href="https://t.co/ro73lucF7n">https://t.co/ro73lucF7n</a></p>&mdash; Leah Petersen (@eccomi_leah) <a href="https://twitter.com/eccomi_leah/status/1009894688906792960?ref_src=twsrc%5Etfw">June 21, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### And there was lots of love for GitLab swag

{::options parse_block_html="false" /}

<div class="center">

<!-- first tweet -->
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks for the swag <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a>. That&#39;s one reason to contribute 😃 <a href="https://t.co/58Z1PsGTen">pic.twitter.com/58Z1PsGTen</a></p>&mdash; Amit Rathi (@amittrathi) <a href="https://twitter.com/amittrathi/status/1074562107545272320?ref_src=twsrc%5Etfw">December 17, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- second tweet -->
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">It’s the first time that I receive a birthday gift from the company that I work for. It’s simple, small and modest... but it goes a long way. Thanks <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> I love them 😍👍🎉 <a href="https://t.co/AMCUdQevFu">pic.twitter.com/AMCUdQevFu</a></p>&mdash; Matej Latin (@matejlatin) <a href="https://twitter.com/matejlatin/status/1039473209291231232?ref_src=twsrc%5Etfw">September 11, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">When it comes to swag, <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> has raised the bar. This is an actual wooden pin. More pins as swag please 😬 cheers <a href="https://twitter.com/samdbeckham?ref_src=twsrc%5Etfw">@samdbeckham</a> <a href="https://t.co/bcZtvqAjPE">pic.twitter.com/bcZtvqAjPE</a></p>&mdash; Sophie Koonin (@type__error) <a href="https://twitter.com/type__error/status/1058105160176726017?ref_src=twsrc%5Etfw">November 1, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you to <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> for the swag! Dear participants, we have many things for you 😁 <a href="https://t.co/9BINX4UbLD">pic.twitter.com/9BINX4UbLD</a></p>&mdash; TechForum eXplore (@TeXWL) <a href="https://twitter.com/TeXWL/status/1011652998953611268?ref_src=twsrc%5Etfw">June 26, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">First package of swag for our CI/CD <a href="https://twitter.com/hashtag/Hackathon?src=hash&amp;ref_src=twsrc%5Etfw">#Hackathon</a> arrived - yes: there will be <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@gitlab</a> socks! 49 people RSVPed so far - it‘s gonna be epic! via <a href="https://twitter.com/MeetupDE?ref_src=twsrc%5Etfw">@MeetupDE</a> <a href="https://t.co/fZtBd7VZRi">https://t.co/fZtBd7VZRi</a> <a href="https://t.co/qyLbTeZN2t">pic.twitter.com/qyLbTeZN2t</a></p>&mdash; Michael Lihs (@kaktusmimi) <a href="https://twitter.com/kaktusmimi/status/970199201320665088?ref_src=twsrc%5Etfw">March 4, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

## GitLab news

### We announced Series D funding and joined the 🦄 club

In September we [announced $100 million in Series D funding](/blog/2018/09/19/announcing-100m-series-d-funding/), led by ICONIQ Capital. This brought our valuation to over $1 billion, and we couldn't be more excited to use this momentum to become best-in-class in every DevOps software category, from planning to monitoring.

### We made #44 on the Inc. 5000 list

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">ICYMI: We made number 44 on the <a href="https://twitter.com/hashtag/inc5000?src=hash&amp;ref_src=twsrc%5Etfw">#inc5000</a> list of 2018&#39;s fastest-growing companies 🎉: <a href="https://t.co/x3jBqItfVK">https://t.co/x3jBqItfVK</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1032201460946268160?ref_src=twsrc%5Etfw">August 22, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### We hung out IRL in beautiful Cape Town

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Good morning from Cape Town! It&#39;s Day 6 of the GitLab Summit 😍 <a href="https://t.co/WHvaSnKHM4">pic.twitter.com/WHvaSnKHM4</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1034402765974450176?ref_src=twsrc%5Etfw">August 28, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### We made #17 on YC's 2018 Top Companies list

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Feeling proud of everyone <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@GitLab</a>: as of October 2018, we are number 17 of the <a href="https://twitter.com/ycombinator?ref_src=twsrc%5Etfw">@YCombinator</a> Top Companies List, among companies like Airbnb, Stripe, Dropbox, Reddit and Twitch <a href="https://t.co/UQZCaBAUeJ">https://t.co/UQZCaBAUeJ</a> <a href="https://t.co/YUJbDhRSyq">pic.twitter.com/YUJbDhRSyq</a></p>&mdash; Pedro MS (@PedroMScom) <a href="https://twitter.com/PedroMScom/status/1068146315404763139?ref_src=twsrc%5Etfw">November 29, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

### And we debuted some 🔥 integrations

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Apple just announced Xcode 10 is now integrated with GitLab <a href="https://t.co/eQbtiY4IYm">pic.twitter.com/eQbtiY4IYm</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1003764673454342144?ref_src=twsrc%5Etfw">June 4, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">We’re so excited to announce the new GKE integration for GitLab! Now you’re just moments away from a scalable development environment. <a href="https://t.co/4RRVOXlrwz">https://t.co/4RRVOXlrwz</a> <a href="https://t.co/RSWwZDSPup">pic.twitter.com/RSWwZDSPup</a></p>&mdash; GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/981916957527044096?ref_src=twsrc%5Etfw">April 5, 2018</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


That's all for now! We can't wait to see what 2019 will bring 🌟 As always, come hang out and tweet us your thoughts [@gitlab](https://twitter.com/gitlab).
