---
title: "Wild and crazy things that only happen to all-remote teams"
author: Darren Murph
author_gitlab: dmurph
author_twitter: dmurph
categories: culture
image_title: '/images/blogimages/joshua-tree-leap.jpg'
description: "Working remotely may make for a calmer commute but plenty of adventure awaits."
tags: careers, inside GitLab, remote work
ee_cta: false
install_cta: false
twitter_text: "For @gitlab team members, working in outlandish places can lead to some pretty outrageous stories"
postType: content marketing
merch_banner: merch_one
merch_sidebar: merch_one
---

GitLab has more than [1,000 team members](/company/team/) across 65 (and counting!) countries. Every employee works remotely, from wherever they're most comfortable, and we have no company offices. While that allows us all to avoid the headaches of [commuting](/company/culture/all-remote/#for-the-world), it doesn't mean that our days are boring. Far from it, actually.

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;It was just this mad scramble to turn off the camera.&quot; More people are working remotely, leading to videoconference call faux pas. <a href="https://t.co/NbdEeWxbGv">https://t.co/NbdEeWxbGv</a></p>&mdash; The Wall Street Journal (@WSJ) <a href="https://twitter.com/WSJ/status/1159505825016295424?ref_src=twsrc%5Etfw">August 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

[Tim Zallmann](/company/team/#timzallmann), a director of engineering at GitLab, was recently featured in a [Wall Street Journal report](https://www.wsj.com/articles/why-are-you-shirtless-when-remote-video-calls-go-wrong-11565280525?mod=e2tw) highlighting comedic happenings for those who work remotely. We polled the entire company to see if they had any stories to share, and the answers came rolling in.

### Surprise guests

![Monkeys in meetings](/images/blogimages/monkey-airbnb.jpg){: .shadow.medium.center}
Monkey in the meeting.
{: .note.text-center}

> I was work-traveling last year for 6 weeks with my wife and kid through South Africa. One day, I was in a video call at a new Airbnb. I had my headphones in when a monkey tried to get through the window behind me. In the middle of the call, I was casually informed that there was a monkey behind me... which resulted in me screaming quite loudly, realizing the monkey was already well on its way inside.
– [Tim Zallmann](/company/team/#timzallmann), director of engineering, Dev

> When food delivery arrives in the middle of a meeting, but you didn't order enough for everyone.
– [Patrick Harlan](/company/team/#pharlan), technical account manager

> It's great when kids decide to jump into a call. Lots of big eyes and cute little hand waves. They also tend to whisper frantically into their parents' ears. Toddlers are the best.
– [Christie Lenneville](/company/team/#clenneville), director of UX

> Our dogs talk to each other. If I am on computer audio and my dog hears a GitLabber dog barking, he joins in. Some people – who shall remain nameless – like to tease dogs with pretend barking to see if they can get them to bark. We have also had pets join us for coffee chats and visit with each other.
– [Kimberly Lock](/company/team/#kimlock), customer reference manager

### Serendipitous run-ins

![GitLab team members meet up for a day at the zoo](/images/blogimages/gitlab-san-diego-zoo.jpg){: .shadow.medium.center}
GitLab team members meet up for a day at the zoo.
{: .note.text-center}

> I love traveling somewhere and instantly finding friends. I recently took a road trip with my family down the coast of California and met a GitLab team member who joined for a walk to the San Diego Zoo. I'd never met him before, but felt like an instant friend with so much to talk about.
– [Priyanka Sharma](/company/team/#pritianka), director of technical evangelism

> Joining a video call and finding out the person you are meeting with lives in your city.
– [Lee Matos](/company/team/#leematos), Support engineering manager, Americas East



### Moments fantastic and funny

![Virtual happy hour](/images/blogimages/team-group-call-gitlab.jpg){: .shadow.medium.center}
Virtual happy hour.
{: .note.text-center}

> We do virtual Friday happy hours with the team. We get on a big group call and everyone brings their beverage of choice (water, tea, whatever) and just chats for a few minutes about what they're doing for the weekend, etc. Fun times where you can bond with you co-workers. Even our [CEO Sid](/company/team/#sytses) shows up to many of them!
– [Tina Sturgis](/company/team/#t_sturgis), senior manager, partner and channel Marketing

> I have an LED color-changing light that I use at the foot of the basement stairs so my kids know if they can come in or not. Red, yellow, and green lights let them know if I'm on a call or taking a break (or somewhere in between).
– [Brendan O'Leary](/company/team/#olearycrew), senior solutions manager

> Green screen usage is a must! Cape Town, Star Trek ships, or a beach in Hawaii – the backdrop options on video calls are endless.
– [Priyanka Sharma](/company/team/#pritianka), director of technical evangelism

> When someone on a video call says "Alexa" and everyone's Alexa wakes up.
– [Brendan O'Leary](/company/team/#olearycrew), senior solutions manager

### GitLab's approach to meetings

We [approach meetings differently](/company/culture/all-remote/meetings/) at GitLab. While one's appearance, surroundings, and background can be the source of great stress and anxiety when preparing for a video call, GitLab team members are encouraged to bring their whole selves to work. That means we celebrate unique surroundings and welcome appearances from family and pets.

Learn more about our [all-remote culture](/company/culture/all-remote/). If you're interested in being featured in the next round of remote outtakes, browse our [vacancies](/jobs/) and apply!

Cover image by Kevin Oliver
{: .note}
