---
title: "Wrapping up GitLab Commit"
author: Valerie Silverthorne
author_gitlab: vsilverthorne
author_twitter: ValSilverthorne
categories: company
image_title: "/images/blogimages/commit-brooklyn-graffiti-cover.jpg"
description: "From bagels to bowling with a healthy dose of DevSecOps and CI/CD in between, it was an epic day of learning and sharing at GitLab Commit Brooklyn."
tags: CI/CD, contributors, events, user stories, brooklyn-2019
ee_cta: false
---

***Relive GitLab Commit Brooklyn through the power of lights, cameras, and a pinch of Tanuki magic. Here's the [full YouTube playlist for the event](https://www.youtube.com/playlist?list=PLFGfElNsQthaaqEAb6ceZvYnZgzSM50Kg)!***

If there's anything you need to understand about GitLab's first ever user conference, it's this: I started the day with a New York bagel, learned how to create a CI/CD pipeline in just 20 minutes, found out [NASA will take GitLab into space](/blog/2019/09/17/open-source-nasa-gl/), and it ended in a bowling alley... yes, it was _that_ kind of day.

We did a neighborhood takeover of a few blocks in the Williamsburg area of Brooklyn and before I even arrived at the venue, I knew something interesting was happening. There was wall grafitti and street graffiti.

![street graffiti](/images/blogimages/commitbrooklynstreet.jpg){: .shadow.small.center}
GitLab has arrived in Brooklyn!
{: .note.text-center}

Over 400 attendees gathered in brick-and-light-filled meeting spaces for conversation, demonstrations, laughter, and even a screaming chicken (the result of the CI/CD demo). It was an epic day of sharing, learning and exploring that could have felt overwhelming. Instead, the quirky informal spaces seemed to relax everyone and make it easier to actually listen and learn.

{::options parse_block_html="false" /}

<div class="center">

  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">THE live coding keynote is here! <a href="https://twitter.com/eddiezane?ref_src=twsrc%5Etfw">@eddiezane</a> of <a href="https://twitter.com/digitalocean?ref_src=twsrc%5Etfw">@digitalocean</a> introduces his “startup” Screaming Chicken at <a href="https://twitter.com/hashtag/GitLabCommit?src=hash&amp;ref_src=twsrc%5Etfw">#GitLabCommit</a> and shows how he runs it on <a href="https://twitter.com/gitlab?ref_src=twsrc%5Etfw">@GitLab</a> AutoDevops, <a href="https://twitter.com/hashtag/Kubernetes?src=hash&amp;ref_src=twsrc%5Etfw">#Kubernetes</a> and DO. The audience is riveted! <a href="https://t.co/ibao6ngeNX">pic.twitter.com/ibao6ngeNX</a></p>&mdash; Priyanka Sharma @ #GitLabCommit Brooklyn! (@pritianka) <a href="https://twitter.com/pritianka/status/1173972101713276928?ref_src=twsrc%5Etfw">September 17, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

This was not anyone's typical idea of a user conference: no large, impersonal hotel, no pre-fab food, and no stilted conversations with total strangers. No one spent the day in frigid air conditioning. Instead everyone moved seamlessly from space to space, inside and outside, and it really was refreshing.

Lunch was refreshing too. It's not every day a gorilla brings you grilled cheese and tater tots under sunny skies.

![Gorilla Grilled Cheese](/images/blogimages/commitbrooklyngorilla.jpg){: .shadow.small.center}
This was some grilled cheese!
{: .note.text-center}

After lunch, some people met up with our CEO [Sid Sijbrandij](/company/team/#sytses) while others attended individual tracks.

![Office hours with Sid](/images/blogimages/commitbrooklynsid.jpg){: .shadow.small.center}
Meet the CEO!
{: .note.text-center}

An open coffee and tea bar (we took over the local coffee shop and my iced chai latte was delicious) fueled lots of conversations about the challenges we all face around DevOps.

![iced chai](/images/blogimages/commitbrooklynchai.jpg){: .shadow.small.center}
Cheers!
{: .note.text-center}

And then it was time to, well, bowl.

![Bowling](/images/blogimages/commitbrooklynbowling.jpg){: .shadow.small.center}
GitLab at Brooklyn Bowl
{: .note.text-center}

It might be bragging, but we really do throw a great party (and user conference, for that matter).

If you'd like to see for yourself, you'll have another chance to network with others on the same DevOps journey. Get your tickets to [Commit London on October 9](/events/commit/#). You can also read about news from Commit: [$268 million in Series E funding, new partners, and more](/blog/2019/09/17/live-from-commit-news/), and check out the highlight reel below:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/hi2D0Se_VnA" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

<%= partial "includes/blog/blog-merch-banner" %>
