---
title: "Get a first look at the lineup for GitLab Commit London!"
author: GitLab
author_twitter: gitlab
categories: company
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
description: "Meet the speakers – and get the schedule – for the upcoming GitLab Commit conference in London."
tags: events, community, london-2019
twitter_text: "The speaker lineup for #GitLabCommit London is live!"
postType: corporate
ee_cta: false
featured: yes
---

We are (forgive us) _properly chuffed_ to announce the amazing speaker lineup for our upcoming
user conference, GitLab Commit, on October 9 in London! The London edition of Commit will feature
an inspiring group of speakers from many of the leading technology organizations in Europe and around the world.

Down a cobblestone drive in the heart of the City of London is [The Brewery](https://www.thebrewery.co.uk/),
where your journey will begin. For one day only, this 18th-century brewery plays host to leaders and
innovators who will share their voyages of automation, exploration, and transformation. You'll gain
insights to increase velocity and shape the future of development. And then we'll wrap it all up with
a [mini golf party](https://swingers.club/uk) in the moonlight. Jolly good stuff!

 [Join us for our first user conference! Register now.](#register-today)
 {: .alert .alert-gitlab-purple .text-center}

## The lineup

Location coolness aside, the stories and talks are why you should come to GitLab Commit. We've
worked hard to create a user-centric conference with speakers who not only build great software every day
but strive to modernize the process as they do so.

The GitLab Commit London keynotes will include:

![speaker card alberto gisbert](/images/blogimages/gitlab-commit-london-speakers/gitlab-commit-london-alberto-gisbert-speaker-card.png){: .shadow.small.right.wrap-text}

#### Establishing a DevOps culture @ Porsche:  A GitLab success story
##### Alberto Gisbert & Dennis Menge, software engineers at Porsche AG

In early 2018, Porsche set a goal to become a digital company. However, neither the culture
nor infrastructure supported modern software development. Automation, cloud infrastructure, and
better collaboration were needed. Software engineers Alberto Gisbert and Dennis Menge share
Porsche's journey to digital transformation from a developer point of view.

![speaker card matt smith](/images/blogimages/gitlab-commit-london-speakers/gitlab-commit-london-matt-smith-speaker-card.png){: .shadow.small.left.wrap-text}

#### Zero to K8s: As fast as possible
##### Matt Smith, software engineer lead, OSCE Team, Capgemini UK

Matt will share his success story starting with no code and no infrastructure to having a
functioning proof of concept application with frontend, backend and database, all
running on Kubernetes. He'll explain how he got there quickly using GitLab and open source
scripts and tools.

![speaker card alexandru viscreanu](/images/blogimages/gitlab-commit-london-speakers/gitlab-commit-london-alexandru-constantin-viscreanu-speaker-card.png){: .shadow.small.right.wrap-text}

#### Flying from base to native within the clouds
##### Alexandru Constantin Viscreanu, platform engineer, Kiwi.com

Today's PaaS landscape is filled with a wide variety of choices so Kiwi.com is constantly working on improving
its infrastructure stack to take advantage of the many building blocks cloud providers have to offer. In
this talk Alex will be sharing how Kiwi manages to keep the technology up to date and what
lessons have been learned from migrating their services over the years.

## GitLab Commit London tracks

### Cloud native

Learn how to leverage cloud native technologies like Kubernetes, serverless, and [multicloud](/topics/multicloud/) to build
and run applications better and faster. In "The beauty of Gitlab CI/CD," with Getty Orawo, a software
developer at Podii, Getty will discuss her journey through DevOps and how she learned to autodeploy.

### DevOps in action

We all need practical advice and examples of how others have navigated DevOps transformations so
these sessions focus on actions and results rather than high-level ideas. In "Zero-cost infrastructure
and automatic deployments for small teams," with George Tsiolis, UX engineer, and Niki Kontoe,
backend engineer, at Ubitech, the speakers will discuss how they planned their engineering
efforts and improved their development workflows using source code management, code reviews,
continuous integration, and continuous deployment practices.

### Powered by GitLab

Software has eaten the world and we are all better for it. Hear how developers like you are
building on GitLab to solve large, real-world problems including humanitarian crises and even space exploration.
In "Four years with GitLab at Ocado Technology," with Piotr Kurpik and Artur Frysiak,
DevOps engineers at Ocado, the co-presenters will focus on how they honed in on one and only source
code tool and the successes and challenges that have shaped their experiences.

## Agenda

<a id="sched-embed" href="//gitlabcommit2019london.sched.com/">View the GitLab Commit 2019 - London schedule &amp; directory.</a><script type="text/javascript" src="//gitlabcommit2019london.sched.com/js/embed.js"></script>

### Register today

Don't wait to register as tickets are going fast! You can still get £99 off if you register before
September 23 with code [commit99](https://gitlabcommit2019ldntickets.eventbrite.com?discount=commit99).
