---
title: "GitLab named Challenger in Gartner Magic Quadrant for Application Release Orchestration 2019"
author: William Chia
author_gitlab: williamchia
author_twitter: thewilliamchia
image_title: '/images/blogimages/construction-blueprint.jpg'
categories: news
description: "We're happy to share that GitLab is a Challenger in Gartner's 2019 ARO Magic Quadrant"
tags: DevOps, inside GitLab, news, CI/CD
postType: Corporate, Product Marketing
---

We are pleased to share that recently GitLab was named a Challenger in the Gartner 2019 Magic Quadrant for Application Release Orchestration. ARO is a relatively new area for GitLab, but we believe our placement as a Challenger compared to last year’s placement as a Niche Player reflects the work we’ve put in and rapid progress we’ve made.

You can visit our [ARO MQ commentary page](/analysts/gartner-aro19/) to read our thoughts on the ARO markets and this report along with the lessons we learn participating. We’ll be adding links to this page to our roadmap items that show our plans for continued improvement. 

Gartner, Magic Quadrant for Application Release Orchestration, 7 October 2019, Daniel Betts, Chris Saunderson, Hassan Ennaciri, Christopher Little Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, express or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose. 
{: .note}

Image by <a href="https://pixabay.com/users/pisauikan-4552082/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2682641">pisauikan</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2682641">Pixabay</a>
{: .note}
