---
title: "Discover your GitLab return on investment with the Forrester Total Economic Impact™ Study and Estimator"
author: Colin Fletcher 
author_gitlab: cfletcher1 
author_twitter: gitlab 
categories: news
image_title: '/images/default-blog-image.png'
description: "Now available: A new Forrester ROI study and calculator based on real value customers got from using GitLab for SCM, CI, and CD."
tags: CI/CD, collaboration, DevOps, news, research, user stories
cta_button_text: 'Download the Study Now!' 
cta_button_link: 'https://about.gitlab.com/resources/report-forrester-tei/' 
twitter_text: "Will using @gitlab save you money? We think so, and now we have an @Forrester study and ROI tool to prove it" 
featured: no
postType: content marketing 
---

We consistently hear from the global GitLab family (our community, customers, and really anybody interested in GitLab) that they know from experience that GitLab helps them do the work they want to do, faster and better, and that it’s a valuable, even vital, part of their success. But they often have a difficult time describing the value GitLab delivers, especially in specific, quantified ways. We also regularly hear that the hardest part about quantifying "value" is knowing where and how to start. 

**Enter the Forrester Total Economic Impact™ (TEI) of GitLab: studying real customer experiences**
 
So to help everyone better understand the value proposition, GitLab commissioned Forrester Consulting to conduct a [Total Economic Impact™ (TEI) study](/resources/report-forrester-tei/) examining the potential return on investment (ROI) organizations may realize by using GitLab for version control & collaboration (VC&C)/SCM, [continuous integration (CI), and continuous delivery (CD)](/topics/ci-cd/) - all use cases that represent where many teams begin or expand their use of GitLab.  

To start, GitLab customers were independently interviewed by Forrester Consulting. The interview experiences and any other data collected was then used to create multiple models which in turn generated quantified results based on the combined experiences of all of the customers studied. The data collected, resulting models, and study itself were then reviewed independently by Forrester Research analysts. GitLab stakeholders were also interviewed as part of the data gathering and review process.  

**Significant results and useful tools to discover your ROI**

Just a sampling of the results realized by the composite organization over an analysis period of three years, based on GitLab customer experiences, yielded these potential, quantifiable benefits in the form of:  

- An overall 407% return on investment (ROI) 
- Improved development and delivery efficiency 
  - Ex. 87% improved development and delivery efficiency (reduced time), resulting in over $23 million in savings 
- Revenue from increased number of releases 
  - Ex. 12x increase in the number of revenue generating application releases in a year, resulting in $12.3 million in additional revenue 
- Improved Code Quality 
  - Ex. 80% reduction in code defects, resulting in over $16.8 million in savings 
- Savings from reducing the number of tools in use 
  - Ex. $3.7 million in savings from using four fewer tools (with their associated costs) each year  

Now these results, while impressive, are based on the experiences of the GitLab customers studied and as with all models, your own unique experience will vary. As such we encourage you to spend time looking over [the study](/resources/report-forrester-tei/) to better understand where the numbers came from and how they may or may not relate to your situation and what you are working to achieve.  

To help you take the next step of estimating your own potential results, we are thrilled to make available an [online estimator](https://tools.totaleconomicimpact.com/go/gitlab/devopsplatform/index.html) that is based on the TEI study’s models. Enter your own data and you'll get a customized version of the study.  

**Couldn’t have done it without you**

Lastly, we want to offer our deepest thanks to the incredibly generous GitLab customers who were willing to share their experiences in this way. They helped all of us in our respective journeys. Thank you! 

**Get started today!** 

- [Download the Forrester Total Economic Impact™ Study commissioned By GitLab, June 2020](/resources/report-forrester-tei/)
- <a href="https://tools.totaleconomicimpact.com/go/gitlab/devopsplatform/index.html" target="_blank">Fill out your info in the online estimator and get a custom report based on the TEI study data and models</a>
