---
title: "What to consider when going hybrid"
author: Darren Murph
author_gitlab: dmurph
author_twitter: dmurph
categories: culture
image_title: '/images/blogimages/san_francisco_skyline_dm.jpg'
description: "Hybrid-remote is an alluring alternative to all-remote, but requires careful consideration. Here's what you need to know when making the shift."
tags: remote work, allremote, hybrid remote
cta_button_text: 'Get schooled on remote work, free!'
cta_button_link: 'https://www.coursera.org/learn/remote-team-management'
twitter_text: "Here's what you need to consider if shifting to hybrid-remote"
featured: no
postType: content marketing
merch_banner: merch_six
---

As the working world embraces the reality that we aren't going back to old ways of working, a growing chorus of leaders are forecasting a [hybrid-remote](/company/culture/all-remote/hybrid-remote/) future. While the allure of this concept is understandable — it seems to present the best of two worlds on paper — a great deal of nuance lurks.

<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Sorry to break it to all of the remote-only people, but I think offices will make a comeback.</p>&mdash; Allison Barr Allen (@abarrallen) <a href="https://twitter.com/abarrallen/status/1349539596242075648?ref_src=twsrc%5Etfw">January 14, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

In fact, without great deliberation, care, and intentionality, hybrid can deliver the *worst* of both worlds. If you're charging down this road, you'll want to consider and plan for the points below to minimize dysfunction and the toxic friction of a [two-tier work environment](/company/culture/all-remote/what-not-to-do/).

## Only some days in the office

Companies that mandate or encourage one or more days per week in-office should be mindful of three important factors:

1. This inhibits team members from considering drastically different living locales, because they still need to be within a commutable distance to an office.
1. This prevents a company's sourcing and recruiting teams from operating differently compared to all-colocated. New hires will still need to relocate to the general office area, limiting your talent pool.
1. This will make the process of shifting to remote-first workflows more difficult, as the office will serve as a crutch to collaboration.

## Informal meetings

Informal (or unscheduled and unplanned) meetings in an office can be highly disruptive to hybrid-remote teams. While it may feel efficienct to ask someone you see in a hallway for a few minutes of their time, this typically creates disruption in the day of the person you're hailing and leads to undocumented progress. Any progress made in an informal conversation is invisible to those outside of the office *as well as* others in the office who are not invited to the meeting. Unplanned meetings with undocumented results works against the remote-first practice of documenting all work so that others in the organization can contribute.

Leaders should reinforce a particular rigor on documenting takeaways after informal meetings so that context is agreed-upon, visible to others regardless of their location, and to minimize miscommunication and gossip.

## Redesigned spaces for individual meeting rooms

Hybrid calls are also [suboptimal for remote attendees](/company/culture/all-remote/meetings/#avoid-hybrid-calls). We recommend leaders transitioning to hybrid-remote consider redesigning existing office space to optimize for individual workspaces and individual meeting rooms. This reinforces that the office is simply [another venue to work remotely from](/company/culture/all-remote/how-to-work-remote-first/#offices-are-simply-venues-to-work-remotely-from).

By eliminating conference rooms, a company ensures collaboration is accessible to all and removes the temptation to have in-office team members gather around a single camera for a video call with remote attendees.

Leaders may consider keeping one or two large spaces that can be reserved for team onsites, where entire teams or sub-teams will intentionally travel on specific dates to meet in person (e.g., fiscal year planning, team bonding, etc.). It's important to still document outcomes from these gatherings and ensure that 100% of the team is included.

<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">I have worked from home for most of my 20+ year career and never ever had so many calls and meetings. I&#39;ve kept it to myself for a full year but I cannot anymore: y&#39;all are doing this wrong</p>&mdash; Amy Westervelt (@amywestervelt) <a href="https://twitter.com/amywestervelt/status/1353902805048647686?ref_src=twsrc%5Etfw">January 26, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

## Agendas upfront

The most functional hybrid organizations operate [remote-first](/company/culture/all-remote/how-to-work-remote-first/). This ensures that business continues even if 100% of the workforce opts to work remotely, outside of the office, on any given day. A key part of reinforcing this mindset is the mandate that all work meetings have an upfront agenda.

Practically speaking, this means that all in-office meeting invites have a shared agenda document attached, so that others can read, learn, and contribute regardless of their location (or even if they're awake and available during the meeting time). This process ensures that a [live doc meeting](/company/culture/all-remote/live-doc-meetings/) procedure happens even for onsite meetings.

This is critical for process continuity regardless of where a team member is located. In a hybrid organization, you will have team members who conduct onsite meetings some days, and remote meetings on other days. It's vital that the *process* of those meetings are the same – it's merely the physical position of a team member that changes.

## Coffee chats should be indiscriminate of location

[Coffee chats](/company/culture/all-remote/informal-communication/#coffee-chats) are an excellent way to broaden one's perspective and meet new people from across the organization. Hybrid organizations should take care to not enable selective coffee chat pairing based on who is onsite and who is remote, as it signals a two-tier work environment.

## Record important conversations

The proximity of people in an office makes hallway, watercooler, and ad hoc conversations appealing. Leaders in hybrid-remote settings should reinforce the importance of using a smartphone as a recording device to capture important, non-confidential work-related conversations, with the consent of both parties. Recording conversations ensure that takeaways can be shared transparently with those outside of the office and minimizes potential misinterpretations.

<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">Want to make hybrid work? Start at the top.<br> <br>People want flexibility, a remote-office blend. But allowing flexibility without addressing how execs work risks “faux flex.”<br><br>Changing where &amp; how senior execs show up will make or break hybrid.<a href="https://twitter.com/hashtag/futureofwork?src=hash&amp;ref_src=twsrc%5Etfw">#futureofwork</a><a href="https://t.co/H7obOrKlHl">https://t.co/H7obOrKlHl</a></p>&mdash; Brian Elliott (@brianpelliott) <a href="https://twitter.com/brianpelliott/status/1353744550724943872?ref_src=twsrc%5Etfw">January 25, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

## Leadership's place in the office

The best place for leaders and executives to be in a hybrid-remote environment is *[outside](/company/culture/all-remote/transition/#make-the-executive-team-remote)* of the office.

1. This prevents remote team members from a perceived lack of "face time" with executives.
1. This prevents senior leadership from conducting their work in ways that are counter to remote-first principles.
1. This prevents cognitive dissonance from leadership on what tools, technologies, and training need to be prioritized to support remote-first workflows.
1. This prevents team members from coming to the office to rub shoulders with executives.
1. This reinforces that the office is no longer the [epicenter](/company/culture/all-remote/stages/#7-remote-first) of power or decision making.

## Spontaneous social events

It's understandable for team members to want to gather socially in and around office settings. Structuring [informal communication](/company/culture/all-remote/informal-communication/) is vital in a remote setting, and some companies may choose to repurpose some of their office space to accommodate groups and gatherings. Libraries, fitness centers, game rooms, and music studios (among others) could be created to facilitate social gatherings for those who are onsite on any given day.

Leaders who enable this should be mindful of the following:

1. It's important to budget for travel to include remote team members in onsite social events.
1. Work should not happen in social rooms, because it hinders [transparency](/handbook/values/#transparency) and creates [dysfunction](/handbook/values/#five-dysfunctions) by forming communication silos.

<blockquote class="twitter-tweet tw-align-center"><p lang="en" dir="ltr">&quot;Relative to expectations, how has work from home turned out?&quot;<br><br>Expansive research on work-from-home from <a href="https://twitter.com/Stanford?ref_src=twsrc%5Etfw">@Stanford</a>, <a href="https://twitter.com/ChicagoBooth?ref_src=twsrc%5Etfw">@ChicagoBooth</a>, <a href="https://twitter.com/ITAM_mx?ref_src=twsrc%5Etfw">@ITAM_mx</a>, and <a href="https://twitter.com/Jose_MariaRD?ref_src=twsrc%5Etfw">@jose_mariard</a> 🌎<br><br>(Some well-considered comments in the <a href="https://twitter.com/newsycombinator?ref_src=twsrc%5Etfw">@newsycombinator</a> thread as well)<a href="https://t.co/gvanMImy5Y">https://t.co/gvanMImy5Y</a> <a href="https://t.co/Ig1X2PDBQH">pic.twitter.com/Ig1X2PDBQH</a></p>&mdash; Darren Murph (@darrenmurph) <a href="https://twitter.com/darrenmurph/status/1353879546358095873?ref_src=twsrc%5Etfw">January 26, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

## Equitable benefits and perks

Leaders should carefully evaluate spoken and unspoken perks of the office, and seek to extend equal benefits to those outside of the office. For example, access to an onsite daycare and fitness center would demand a childcare and fitness credit for those who are remote by default. This situation becomes particularly tricky for team members who are onsite some days of the week, and offsite others, unless the credits are extended to all.

## Expect rapid iteration

Hybrid-remote organizations may see high office use in the early days of a workplace transition, as people flock to the familiar. However, as remote-first workflows are implemented and people relocate or change their workplace setting for personal reasons, it's possible that more space will go unused.

While this may seem jarring, it's a positive indicator that work and culture are progressing without the need of an office. This will create opportunities to capture greater real estate savings and/or repurpose office space for philanthropic efforts, such as opening up an internship center for the local community.

To assist with the transition, enroll in our "[How to Manage a Remote Team](https://www.coursera.org/learn/remote-team-management)" course on Coursera, and download [GitLab's Remote Playbook](https://learn.gitlab.com/suddenlyremote).
