---
title: "How you contribute to GitLab's DevOps Platform"
author: GitLab
author_twitter: gitlab
categories: open source
image_title: '/images/blogimages/open-devops.png'
description: "Today we're celebrating you! These are just some of the many examples of how you make GitLab's DevOps Platform better by innovating together."
tags: open source, community, devops platform
postType: corporate
ee_cta: false
featured: yes
related_posts:
  - "/blog/2020/09/30/start-contributing-to-gitlab-today/"
  - "/blog/2020/11/13/thelastmile-gitlab/"
  - "/blog/2020/10/22/integrating-with-gitlab-secure/"
---

We know that we can iterate faster when we innovate together. We want to highlight how you make GitLab better every day by contributing to our DevOps Platform, by suggesting improvements, submitting bug fixes, and contributing features. 

You contribute around 300 merge requests to GitLab each month. Just look at [last month's release for a multitude of examples](/releases/2021/02/22/gitlab-13-9-released/#wider-community-contribution-highlights) – a reminder that [everyone can contribute](/company/mission/#mission). 

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Achievement unlocked: having NASA contribute directly to your codebase. Open core ftw. <a href="https://t.co/qcnu8jhQuR">https://t.co/qcnu8jhQuR</a></p>&mdash; Brendan O’Leary (@olearycrew) <a href="https://twitter.com/olearycrew/status/1363992971188740103?ref_src=twsrc%5Etfw">February 22, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

Roger Meier, principal key expert and service owner of code.siemens.com from [Siemens IT](/customers/siemens/) explains, “If we want to have new features, we contribute them to GitLab.” 

## A DevOps platform gives you visibility into security and beyond

Working in the open presents unique security challenges (you can read about how we [prevent security fixes from leaking into our public repositories](/blog/2021/01/04/how-we-prevented-security-fixes-leaking-into-our-public-repositories/)), but we’re proud of how taking an open approach to security serves our community, customers, and us.  

Community member [Ethan Reesor](https://gitlab.com/firelizzard) is working on improving and simplifying how we do [authorization in our package managers](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/38627) and added some great test coverage around that in [gitlab-org/gitlab!50729](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/50729).

Security issues are often reported to us directly in GitLab, but Dominic Couture, senior security engineer, [Application Security](/topics/devsecops/) at GitLab, explains that even security bugs reported through our [HackerOne bug bounty program](https://hackerone.com/gitlab) are often made public 30 days after they’re fixed: everyone can see the [old security issues](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=all&label_name[]=HackerOne). “This creates a positive feedback loop where external security researchers can look into old issues to help them find and disclose new ones to us.” You can read more reflections on [security and open source here](/blog/2020/04/10/open-source-security/).

### Debugging together

Our customers regularly collaborate with us to debug problems. In this example, a customer helped our backend engineers to [resolve an S1 bug](https://gitlab.com/gitlab-org/gitlab/-/issues/261667), and even gave us access to part of their system to test the fix – showing that we’re most successful when everyone’s committed to iteration.

Small fixes and improvements to our documentation often arise out of customer interactions with our support engineers – you can see all the [merge requests from 2021 captured here](https://gitlab.com/gitlab-com/support/support-team-meta/-/issues?label_name%5B%5D=Support+Team+Contributions).

For some customers, contributing to GitLab is even an official part of their job. Learn about how [one of our contributors at CERN here](/blog/2019/06/19/cern-contributor-post/) helps make GitLab’s [open DevOps platform](/solutions/devops-platform/) better.

### Getting to the root of performance problems

[Working in public by default](/handbook/values/#public-by-default) is a little uncomfortable at first – especially when it comes to troubleshooting performance issues – but the advantage of this visibility is that we can crowdsource solutions. 

In July 2019, our site reliability engineers noticed a significant increase in errors and site slowdown on GitLab.com. In the course of investigation, community member [Andrew Armstrong](https://gitlab.com/phplasma) [commented on the public issue ](https://gitlab.com/gitlab-com/gl-infra/production/-/issues/928#note_187236004) with a suggestion: The Redis instance might be approaching its self-imposed memory limit, which can overwhelm the instance quickly even if plenty of physical memory is available. This inspired a review of the time to live (TTL) we apply to Redis keys.

## Living our values through DevOps 

We're proud to partner with groups who foster [our values](/handbook/values/) in their communities. [The Last Mile](/blog/2020/11/13/thelastmile-gitlab/) is opening doors for aspiring software engineers at correctional facilities across the US. [GNOME moved to GitLab in 2018](/blog/2018/05/31/welcome-gnome-to-gitlab/), and together with [Endless](https://endlessnetwork.com/) they [launched the Coding Education Challenge](/blog/2020/09/08/gnome-follow-up/#whats-new-at-gnome-and-what-are-some-of-the-new-things-on-the-horizon) to inspire a new generation to "take control of their digital worlds, not be controlled by them." Read more about intitiatives from our [friends in open source](/blog/categories/open-source/). 

_These are just a few examples of the improvements you make to GitLab and the wider community, and we want to keep celebrating how you iterate and innovate using our open DevOps platform. Got a story of your own to share? **We’re accepting proposals for our virtual user conference, [GitLab Commit](/events/commit/)** (Aug. 3-4, 2021) and would love to hear from you._
