---
title: "How The Good Docs Project uses GitLab for documentation as code and more"
author: Bryan Behrenshausen
author_gitlab: bbehr
author_twitter: gitlab
categories: open source
image_title: '/images/blogimages/documentation1.jpg'
description: "In this video interview, meet our new Open Source Partner, The Good Docs Project, and learn about the benefits they are extracting from the DevSecOps platform."
tags: open source, community, features
guest: false
twitter_text: "In this video interview, meet our new Open Source Partner, The Good Docs Project, and learn about the benefits they are extracting from the DevSecOps platform."
featured: no
postType: oss-program
related_posts:
  - "/blog/2023/05/15/building-inclusive-gaming-community-gitlab/"
  - "/blog/2023/05/30/major-league-gitlab-hacking/"
---

[The Good Docs Project](https://thegooddocsproject.dev/welcome/) wants to help improve software documentation across the entire [open source](https://go.gitlab.com/spHNym) ecosystem. The community provides templates and other resources to help open source developers write, maintain, and improve project documentation. Last year, they voted to migrate to GitLab. Since then, they've discovered how using an all-in-one DevSecOps platform can streamline and accelerate work in open source communities like theirs.

They've now joined the [GitLab Open Source Partners](https://go.gitlab.com/030Ue3) community, and they're sharing their knowledge and resources with other open source projects also using GitLab to build a world where anyone can contribute.

I sat down with some community members from The Good Docs Project to learn what brought them together, what motivates their work, and where they're headed next.

In this interview, you'll learn:
* How switching to GitLab enabled an open source project to unify planning, development, and testing work onto a single platform
* How a community of technical writers and editors uses GitLab to develop documentation as code
* How an open source project built community-focused git toolchain training on GitLab

### Watch the interview

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/Bek7vLmNmME" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Learn more

The [GitLab Open Source Partners](https://go.gitlab.com/030Ue3) are building the future of open source on GitLab. Connect with them on [Gitlab.com](https://gitlab.com/gitlab-com/marketing/community-relations/open-source-program/gitlab-open-source-partners).

Cover image by <a href="https://unsplash.com/@beatriz_perez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Beatriz Pérez Moya</a> on <a href="https://unsplash.com/photos/XN4T2PVUUgk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>  
{: .note}
