---
title: "Bookmark these changes: URL structure updates coming in GitLab 17.0"
author: Christen Dybenko
author_gitlab: cdybenko
author_twitter: gitlab
categories: news
image_title: '/images/blogimages/tanukilifecycle.png'
description: "An overview of project and user settings URL changes, including deprecations and redirects, that will happen in 17.0."
tags: news, features, releases, DevSecOps platform
featured: no
postType: product  
twitter_text: "GitLab's page URLs will be changing! Get ready to change your bookmarks!"
---
Over the next few releases GitLab will be making some changes to our URL structure. They mainly affect settings pages, but we're cleaning up a few other URLs as well. The URL structure represents the site map, and it should be both predictable and consistent.
Over the years, page titles have begun to deviate from their original designation and these changes aim to rectify that.
You can see the full effect of these changes in the tables below.

We will be adding these as 301 redirects over the next few months, with a plan to remove the old routes entirely in our 17.0 release in May 2024. If you have any of these pages bookmarked, or rely on these URLs, they will continue to work up until the removal in 17.0.

Please share your feedback on this change in the [feedback issue](https://gitlab.com/gitlab-org/gitlab/-/issues/420675).

## Page URL updates
Here are the page URL updates for projects and user settings.

### Project

| Sidebar | Current Path | New Path |
|---------|------|-------------|
| Analyze / **Contributor statistics** | /-/<span style="background: #fdd4cd;">graphs</span>/{default branch name} | /-/<span style="background: #c3e6cd;">contributor_statistics</span>/{default branch name} |
| Code / **Repository graph** | /-/<span style="background: #fdd4cd;">network</span>/{default branch name} | /-/<span style="background: #c3e6cd;">repository_graph</span>/{default branch name} |
| Code / **Locked files** | /<span style="background: #fdd4cd;">path_locks</span> | <span style="background: #c3e6cd;">/-/locked_files</span> |
| Monitor / **Alerts** | /-/<span style="background: #fdd4cd;">alert_management</span> | /-/<span style="background: #c3e6cd;">alerts</span> | 
| Settings / **Webhooks** | /-/<span style="background: #fdd4cd;">hooks</span> | /-/<span style="background: #c3e6cd;">settings/webhooks</span> | 
| Settings / **Monitor** | /-/settings/<span style="background: #fdd4cd;">operations</span> | /-/settings/<span style="background: #c3e6cd;">monitor</span> | 

### User settings

| Sidebar | Current Path | New Path |
|---------|------|---------|
| User settings <br>↳ Profile | /-/profile | /-/<span style="background: #c3e6cd;">user_settings</span>/profile | 
| User settings <br>↳ Account | /-/<span style="background: #fdd4cd;">profile</span>/account | /-/<span style="background: #c3e6cd;">user_settings</span>/account |
| User settings <br>↳ Applications | /-/<span style="background: #fdd4cd;">profile</span>/applications | /-/<span style="background: #c3e6cd;">user_settings</span>/applications | 
| User settings <br>↳ Chat | /-/<span style="background: #fdd4cd;">profile</span>/chat<span style="background: #fdd4cd;">\_names</span> | /-/<span style="background: #c3e6cd;">user_settings</span>/chat | 
| User settings <br>↳ Personal access tokens | /-/<span style="background: #fdd4cd;">profile</span>/personal_access_tokens | /-/<span style="background: #c3e6cd;">user_settings</span>/personal_access_tokens | 
| User settings <br>↳ Emails | /-/<span style="background: #fdd4cd;">profile</span>/emails | /-/<span style="background: #c3e6cd;">user_settings</span>/emails | 
| User settings <br>↳ Password | /-/<span style="background: #fdd4cd;">profile</span>/password/edit | /-/<span style="background: #c3e6cd;">user_settings</span>/password/edit | 
| User settings <br>↳ Notifications | /-/<span style="background: #fdd4cd;">profile</span>/notifications | /-/<span style="background: #c3e6cd;">user_settings</span>/notifications | 
| User settings <br>↳ SSH keys | /-/<span style="background: #fdd4cd;">profile</span>/keys | /-/<span style="background: #c3e6cd;">user_settings</span>/<span style="background: #c3e6cd;">ssh</span>\_keys | 
| User settings <br>↳ GPG keys | /-/<span style="background: #fdd4cd;">profile</span>/gpg_keys | /-/<span style="background: #c3e6cd;">user_settings</span>/gpg_keys | 
| User settings <br>↳ Preferences | /-/<span style="background: #fdd4cd;">profile</span>/preferences | /-/<span style="background: #c3e6cd;">user_settings</span>/preferences | 
| User settings <br>↳ Active sessions | /-/<span style="background: #fdd4cd;">profile</span>/active_sessions | /-/<span style="background: #c3e6cd;">user_settings</span>/active_sessions | 
| User settings <br>↳ Authentication log | /-/<span style="background: #fdd4cd;">profile</span>/<span style="background: #fdd4cd;">audit_log</span> | /-/<span style="background: #c3e6cd;">user_settings</span>/<span style="background: #c3e6cd;">authentication_log</span> | 
| User settings <br>↳ Usage quotas | /-/<span style="background: #fdd4cd;">profile</span>/usage_quotas | /-/<span style="background: #c3e6cd;">user_settings</span>/usage_quotas |
