@mixin cubic-bezier-transition {
  transition: .2s cubic-bezier(0, 0, 0, 1);
}

.animation--tile {
  .animation-image,
  .animation-content {
    @include cubic-bezier-transition;
  }

  &:hover {
    .animation-image {
      transform: scale(1.1);
    }

    .animation-content {
      transform: translateY(4px);
    }
  }
}
