%aspect-ratio-box,
.aspect-ratio-box {
  &::before {
    float: left;
    content: "";
  }

  // Clear floats
  &::after {
    display: table;
    clear: left;
    content: " ";
  }
}

@each $w, $h in $aspect-ratio-map {
  .aspect-ratio-box--#{$w}-#{$h} {
    &::before {
      padding-top: ($h / $w) * 100%;
    }
  }
}
