// Hero component to showcase an asset.
//
// .asset-hero
//   .container
//     .row
//       .col-md-3.hidden-sm.hidden-xs.asset-hero-media
//         = image_tag "/images/sample-asset-tall.png", alt: "Asset Image"
//
//       .col-md-9
//         %h1 Avoiding the DevOps Tax
//         %h2 Realize a faster DevOps lifecycle with these best practices for integration and automation
//
//         .btn-group
//           .btn.cta-btn.purple-reverse{ href: '#' }
//             Watch the webcast
@import "../vendor/bourbon/bourbon";

.asset-hero {
  $lt-bg-color: #352958;
  @include padding(60px null);
  background-color: $lt-bg-color;
  color: $color-white;

  .row {
    display: flex;
    align-items: center;
  }

  .asset-hero-media {
    align-self: flex-start;
  }

  h1 {
    @include accent-font-bold;
    margin-top: 0;
    font-size: 36px;
  }

  h2 {
    @include font-weight-regular;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: (40 / 28);
  }

  @media (min-width: $screen-sm-min) {
    @include padding(100px null);

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 24px;
    }
  }

}
