.wrapper--large-fonts {
  font-size: 18px;

  h1 {
    font-size: 36px;

    @media (min-width: $screen-md-min) {
      font-size: 46px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: $spacing-unit-xs;
    font-size: 30px;

    @media (min-width: $screen-md-min) {
      font-size: 36px;
    }
  }

  p {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
