.logo-band {
  display: flex;
  justify-content: space-between;      
  margin-top: 85px;
  flex-wrap: wrap;

  @media all and (max-width: 640px) {
    justify-content: space-around;
  }

  .logo {
    margin: 0 0 40px;
    position: relative;
    width: calc(16.66% - 45px);
    text-align: center;

    @media all and (max-width: 991px) {
      width: calc(33.33% - 45px);
    }

    @media all and (max-width: 640px) {
      width: calc(50% - 45px);
    }

    img {
      max-width: 100%;
      width: 145px;
    }

    &--1 {
      top: -15px;

      img {
        width: 122px;
      }
    }

    &--2 {
      img {
        width: 160px;
      }
    }

    &--3 {
      top: -10px;
    }

    &--5 {
      top: 7px;
    }
  }
}