@import "../vendor/bourbon/bourbon";

.resource-block {
  position: relative;
  padding-top: $spacing-unit-xs;
  padding-left: $spacing-unit-lg;

  &::before {
    @include position(absolute, 0 null null 0);
    @include size(60px);
    background-position: 0 0;
    background-size: contain;
    content: "";
  }

  @each $type in books, videos, blogs, podcasts {
    &.resource-block--#{$type}::before {
      background-image: url("/images/icons/#{$type}-icon.svg");
    }
  }

  .block-title {
    @extend %u-padding-bottom-xs;
    margin-top: 0;
    color: $color-primary;
  }
}

.resource-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resource-list-item {
  @extend %u-margin-bottom-xs;
  width: 390px;

  .resource-title {
    margin: 0;
    color: $color-primary;
    font-size: 20px;
  }

  .resource-author {
    display: block;
    margin-top: 5px;
    color: $color-gray;
    font-size: 16px;
    text-transform: uppercase;
  }
}
