.slide-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: calc(-50vw + 100%);
}

.slide-media--alt {
  margin-right: 0;
  margin-left: calc(-50vw + 100%);
}

.slide-media-bg {
  @include position(absolute, 0);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  + * {
    position: relative; // For proper stacking
  }
}

