---
layout: markdown_page
title: "Group Direction - AI Assisted"
description: "Focused on improving GitLab features with data science"
canonical_path: "/direction/modelops/ai_assisted/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview

Machine Learning and Artificial Intelligence promise smarter and powerful software and features. With the depth, breadth, and scale of the GitLab platform, there are many opportunities to leverage data science to make existing GitLab features more intelligent. 

> [Watch a video overview](https://about.gitlab.com/direction/modelops/#stage-direction-walkthrough) of the GitLab ModelOps direction

### Goal

This group is focused on extending GitLab functionality by providing additional value via leveraging ML/AI. This group will support our [Product Groups](https://about.gitlab.com/handbook/product/categories/) on applying ML/AI to their existing categories and features with a focus on making those features smarter, easier to use, and more intelligent. Prioritization of applying ML/AI to existing categories will be set in partnership between the AI Assisted PM and the PM desiring to add ML/AI to their category.

## Upcoming Changes

The AI Assisted Group is being matured into a full stage to capture the extent of our Generative AI ambitions. This stage will be called the [AI-powered stage](/direction/ai-powered). 

<p align="center">
    <i><br>
    Last Reviewed: 2023-08-17<br>
    Last Updated: 2023-08-17
    </i>
</p>
