%div.table-responsive
  %table
    %thead
      %tr
        %th Month
        %th Events

    %tbody
      - calendar.events.each do |event|
        %tr
          - date = event['start_date']
          %td
            = event['start_date']
          %td
            - if event['gitlab_link']
              %a{href: event['gitlab_link']}
                = event['name']
            - else
              = event['name']
