- calendars = data.people_group.calendar

- calendars.each do |calendar|
  - if calendar.events.any?
    %h3
      Calendar for #{calendar['team']}
    = partial "includes/people-operations/team_calendar", locals: {calendar: calendar}
