%div.table-responsive
  %table
    %thead
      %tr
        %th
          Country
        %th
          Pay Frequency
        %th
          Pay Schedule
    %tbody
      - data.country_payment_information.each do |country_data|
        %tr
          %td
            = country_data["country"]
          %td
            = country_data['frequency']
          %td
            = country_data["schedule"]
      %tr
        %td Other countries
        %td 12
        %td Monthly
