---
layout: default
title: How to Deploy on AWS from GitLab 
description: "Download the whitepaper to learn how to deploy on AWS from GitLab, deploys to five popular AWS services and its benefits."
canonical_path: "/resources/whitepaper-deploy-aws-gitlab/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/deploy-to-aws?x=04KSqy&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the whitepaper"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the whitepaper."
success_message: "You will also receive a copy of the whitepaper sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline How to deploy on AWS from GitLab
        %h2.page-headline A single application for Lambda, Fargate, EC2, EKS, and ECS

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Amazon Web Services (AWS) is the leader in cloud infrastructure, accounting for nearly 33% in 2019. Startups, enterprises, and government agencies depend on AWS as an all-in-one cloud platform that offers everything from storage, to networking, to serverless under one roof.
            
            %p In a 2019 Forrester IT survey, they found that development teams struggle with toolchain complexity. GitLab’s complete DevOps platform, delivered as a single application, has high availability with all AWS services so teams can deploy to any AWS infrastructure using one interface.

            %h3 What you’ll learn in this whitepaper:
            %ul
              %li How to deploy a serverless application using GitLab and AWS SAM
              %li How GitLab deploys to five popular AWS services
              %li The benefits of GitLab’s all-in-one DevOps with AWS all-in-one cloud

            %p Download the white paper to learn how to deploy on AWS from GitLab.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }