---
title: Product Direction - Breadth
description: New `planned` categories, as well as the existing, but `minimal` categories, to be brought to `viable`.
canonical_path: "/direction/breadth/"
suppress_header: true
layout: default
extra_css:
  - home.css
  - maturity.css
---

%h2 Product Direction - Breadth

.container
  = partial "direction/breadth/sdlc"
