---
layout: markdown_page
title: "Group Direction - AI Framework"
description: "Building common tools to support GitLab teams integrating AI/ML technologies"
canonical_path: "/direction/ai-powered/ai_framework/"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Overview
The AI Framework group is an product supported engineering team focused on building a common set of tools to support other product groups within GitLab and their utilization of AI/ML technologies. 

Even with the advent of Large Language Models (LLMs) and many major technology companies offering Foundation Models, each model supports different capabilities and has different strengths. In order to bring the best AI/ML technologies to our customers we want to enable GitLab features to easily call different AI models based on use cases to produce the highest quality results. 

AI is moving very quickly, and we need to be able to keep pace with changes in the area. We have built an [abstraction layer](/ai_abstraction_layer) to do this, allowing us to take a more "pluggable" approach to the underlying models, data stores, and other technologies.

This group will also act as an initial implementation team engineering new feature capabilities atop the [AI Architecture](https://docs.gitlab.com/ee/user/ai_features.html) within the GitLab monolith. It will be common to see new GitLab categories spin up within the AI Framework group and as they mature move to established groups in other sections and stages across GitLab.  

### Goals 

We aim to: 
1. Increase the velocity of feature teams by providing a set of high quality, ready to use tools
1. Support the ability to switch underlying technologies quickly and easily
1. Build initial implements of AI-powered features before handing them off to other GitLab sections/stages/groups

## Categories  
This group consists of the following category: 

- [AI Abstraction Layer](/direction/ai-powered/ai_framework/ai_abstraction_layer): An AI Architecture to standardize and abstract AI/ML technologies within GitLab

<p align="center">
    <i><br>
    Last Reviewed: 2023-08-17<br>
    Last Updated: 2023-08-17
    </i>
</p>