---
title: GitLab Professional Services Engineer Specialist
suppress_header: true
description: "GitLab Professional Services Engineer Specialist"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Professional Services Engineer Specialist
    %h2.headline-subtitle
      Learn how to deliver foundational GitLab professional services 

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Professional Services Engineer Specialist

        %h3 Overview
        %p GitLab Professional Services Engineer (PSE) Specialist is a technical certification offered by GitLab to help Partners and team members validate their ability to deliver implementation, migration and consulting services to customers. To earn certification, candidates must first earn 6 underlying certifications:
        %ul
          %li <a href='/services/pse-certifications/implementation-specialist/'>GitLab Implementation Specialist</a>
          %li <a href='/handbook/customer-success/professional-services-engineering/gitlab-certified-migration-services-engineer/'>GitLab Migration Specialist</a>
          %li <a href='/services/education/gitlab-certified-associate/'>GitLab Certified Associate</a>
          %li <a href='/services/education/gitlab-cicd-associate/'>GitLab CI/CD Specialist</a>
          %li <a href='/services/education/gitlab-security-specialist/'>GitLab Security Specialist</a>
          %li <a href='/services/education/gitlab-project-management-associate/'>Gitlab Project Management Specialist</a>
 
        %h3 Availability
        %p In November 2021, GitLab relaunched the GitLab PSE Specialist Certification. The certification assessments are currently available to GitLab Team Members and Partners, both of which will have access to the course material via the <a href='https://gitlab.edcast.com/'>GitLab Learn platform</a>. The course assessments are built into the learning pathway on GitLab Learn. The hands on assessment instructions are linked from the learning pathway and graded in less than 10 business days from submission. 
 
        %h3 Why GitLab PSE Specialist certification?
 
        %h4 For Partners
        %p With GitLab PSE Specialist certification, Partners now have a way to confirm their team members possess the skills needed to effectively deploy the GitLab Platform, migrate data to GitLab and provide workflow advisory services for customers. This certification is the first step for partners to qualify as subcontractors to be able to deliver services sold by GitLab. This certification satisfies the PSE requirement for the <a href='https://about.gitlab.com/handbook/resellers/services/#gitlab-certified-professional-services-partner-requirements'>GitLab Certified Professional Services Partner</a> certification.
 
        %h4 For Individuals
        %p Individuals who earn GitLab PSE Specialist certification can showcase their ability to effectively deploy GitLab, migrate data, and provide workflow advisory services for customers. This certification follows the individual, regardless if the individual still works at the compnay under which they earned the certification. 
 
        %h3 How do I enroll
        %p Log in to the partner portal and navigate to <a href='https://partners.gitlab.com/prm/English/c/Training'>the training tab</a> or contact your GitLab Channel Account Manager to discuss enrolling in the  GitLab Professional Services Engineer certification journey.
 
= partial "includes/services-contact-form"
