---
layout: default
title: GitLab Corporate Philanthropy
description: "Supporting organizations that can further philanthropy at local and global levels."
canonical_path: "/corporate-philanthropy/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
slippers_preflight: true
extra_css:
  - devops-download.css
---
<div class="slp-container slp-mx-auto slp-mt-32 md:slp-mt-96 slp-mb-64 md:slp-mb-160">
  <img src="/images/icons/slp-handshake.svg" alt="test" class="slp-mx-auto" />
  <h1 class="slp-text-3xl md:slp-text-5xl slp-text-center slp-text-black slp-pb-16 md:slp-pb-32">
    Corporate Philanthropy
  </h1>
  <p class="slp-text-md md:slp-text-xl slp-text-center slp-mx-auto slp-max-w-5xl slp-text-black">
    As part of our mission to create a world where everyone can contribute, we
    believe it is important to support organizations that can further this goal
    at local and global levels. GitLab supports charitable organizations and 
    corporate philanthropy efforts in a variety of ways. 
  </p>
  <picture>
    <source
      srcset="/images/icons/slp-corporate-philanthropy-desktop-line.svg"
      media="(min-width: 1024px)"
    />
    <img
      src="/images/icons/slp-corporate-philanthropy-line.svg"
      class="slp-mx-auto slp-mt-20 md:slp-mt-32 slp-absolute slp-left-1/2"
    />
  </picture>
  <div class="slp-grid md:slp-grid-cols-2 slp-justify-center md:slp-items-center slp-mt-96 slp-gap-x-48">
    <img
      src="/images/icons/slp-love-gitlab.svg"
      alt="GitLab logo encapsulated by a heart"
      class="slp-justify-self-center slp-relative slp--top-32"
    />
    <p class="slp-text-base md:slp-text-lg slp-text-center slp-text-black md:slp-text-left md:slp-order-first md:slp-max-w-3xl">
      In September 2022, the GitLab Foundation launched with a mission to improve people’s 
      lifetime earnings through access to opportunities, and a vision of a world in which 
      one million more people can afford a better life. The GitLab Foundation was formed 
      by GitLab Inc. as part of its mission to create a world in which everyone can 
      contribute. GitLab leadership believed it was important to support organizations 
      that could further this goal on a global scale. When GitLab Inc. went public 
      in October 2021, it dedicated 1% of its shares to further this aim. The GitLab 
      Foundation is currently funded by GitLab Inc. and its CEO, Sid Sijbrandij. 
      The GitLab Foundation is an independent nonprofit entity and its operations 
      are autonomous from GitLab Inc. To learn more, visit the <a class="slp-text-ui-secondary-dark slp-underline" href="https://www.gitlabfoundation.org/">GitLab Foundation.</a>
    </p>
  </div>
  <picture>
    <source
      srcset="/images/icons/slp-corporate-philanthropy-desktop-line.svg"
      media="(min-width: 1024px)"
    />
    <img
      src="/images/icons/slp-corporate-philanthropy-line.svg"
      class="slp-mx-auto slp-mt-20 md:slp-mt-32 slp-absolute slp-left-1/2"
    />
  </picture>
  <div class="slp-grid md:slp-grid-cols-2 slp-justify-center md:slp-items-center slp-mt-96 slp-gap-x-48">
    <img
      src="/images/icons/slp-love-gitlab.svg"
      alt="GitLab logo encapsulated by a heart"
      class="slp-justify-self-center slp-relative slp--top-32 md:slp-order-first "
    />
    <p class="slp-text-base md:slp-text-lg slp-text-center slp-text-black md:slp-text-left md:slp-max-w-3xl">
      <strong>  
        GitLab Environmental, Social and Governance (ESG)
      </strong>
      <br/>
      <br/>
      The GitLab Environmental, Social, and Governance (ESG) <a href="https://handbook.gitlab.com/job-families/legal-and-corporate-affairs/environmental-social-governance/" class="slp-text-ui-secondary-dark slp-underline">Team</a> creates and maintains 
      GitLab Inc.’s Corporate Sustainability strategy and programs. This includes ESG 
      disclosures and public ESG reporting, identifying and prioritizing key issues to 
      advance GitLab’s social and environmental goals, creating partnerships with 
      nonprofit organizations that support GitLab’s values and mission, and providing 
      volunteer opportunities to GitLab team members. The GitLab ESG Team also manages 
      the <a href="https://about.gitlab.com/solutions/nonprofit/" class="slp-text-ui-secondary-dark slp-underline">GitLab for Nonprofits</a> in-kind donation program. To learn more visit our 
      <a href="https://about.gitlab.com/handbook/legal/ESG/" class="slp-text-ui-secondary-dark slp-underline">handbook page</a> or view our <a href="https://about.gitlab.com/environmental-social-governance/" class="slp-text-ui-secondary-dark slp-underline">FY23 ESG report.</a>
    </p>
  </div>
  <picture>
    <source
      srcset="/images/icons/slp-corporate-philanthropy-desktop-line.svg"
      media="(min-width: 1024px)"
    />
    <img
      src="/images/icons/slp-corporate-philanthropy-line.svg"
      class="slp-mx-auto slp-mt-20 md:slp-mt-32 slp-absolute slp-left-1/2"
    />
  </picture>
  <div class="slp-grid md:slp-grid-cols-2 slp-justify-center md:slp-items-center slp-mt-96 slp-gap-x-48">
    <img
      src="/images/icons/slp-love-gitlab.svg"
      alt="GitLab logo encapsulated by a heart"
      class="slp-justify-self-center slp-relative slp--top-32"
    />
    <p class="slp-text-base md:slp-text-lg slp-text-center slp-text-black md:slp-text-left md:slp-order-first md:slp-max-w-3xl">
      <strong>
        GitLab Diversity Inclusion and Belonging (DIB)
      </strong>
      <br/>
      <br/>
      (DIB) is fundamental to the success of GitLab and as such, is one of our core values. 
      We incorporate the value of Diversity, Inclusion, and Belonging into all that we do
      – it’s not just an aspect of GitLab, it is GitLab. We are firm believers in 
      promoting a work culture where people can be their full selves and contribute 
      to the best of their abilities. When people bring their authentic selves and 
      feel welcome, they embrace our values to contribute and collaborate. The DIB 
      strategy aligns with ESG and the <a href="https://about.gitlab.com/handbook/legal/philanthropy-policy/" class="slp-text-ui-secondary-dark slp-underline">Philanthropy Policy</a> 
      for guidance on GitLab’s philanthropic giving to registered nonprofit organizations. To learn more visit our 
      <a href="https://about.gitlab.com/company/culture/inclusion/" class="slp-text-ui-secondary-dark slp-underline">handbook page</a> 
      or view our FY23 DIB report.  For more information please contact our 
      <a href="https://about.gitlab.com/company/culture/inclusion/#diversity-inclusion-and-belonging-team" class="slp-text-ui-secondary-dark slp-underline">DIB team.</a>
    </p>
  </div>
</div>

    