---
layout: feature
title: InnerSource with GitLab
description: "InnerSource is the use of open source best practices and establishment of an open source culture within your organization. Find out more!"
canonical_path: "/solutions/innersource/"
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 InnerSource with GitLab
        %h3#description The power of open source, without giving away your code
        %a.btn.cta-btn.btn-white{ href: "https://about.gitlab.com/free-trial/", target: "_blank", :"data-ga-name" => "Try GitLab fro free", :"data-ga-location" => "header" } Try GitLab for Free
  .sub-wrapper
    .container
      .row#overview
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 What is InnerSource?
          %p.overview
            :markdown
              InnerSource is the use of open source best practices and establishment of an open source culture — within your organization.
          %p.overview
            :markdown
              You may develop proprietary software, while opening up work between developers and teams internally.
          %p.overview
            :markdown
              With the increasing pace of technological change, internal communication and collaboration have become key competitive differentiators, as they are both essential to agility. Not only between technical teams in software, IT, security, or data science, but across entire organizations, it has never been more important to get everyone working better together.

              By setting the default to open for projects within your organization, you can enable reuse of existing solutions and minimize redundancy, empower and incentivize collaboration across teams, and leverage talent across your workforce.
          %h3 Benefits of InnerSource
          %p.overview
            :markdown
              Many benefits that are typical of open source development can be realized with InnerSource.
          .overview
            :markdown
              - **Faster, with quality:** Unit tests, code coverage, and continuous integration help improve code earlier
              - **Documentation:** Code is better documented, both in comments and less formally in discussions
              - **Code reuse:** Code and architecture are discoverable and available across teams and the organization
              - **Collaboration:** Friction reduced for code review, communication, and contributions in and between teams
              - **Culture:** Silos broken down, happiness improved and with that, better retainment and recruitment
      %hr.divider/

      .row#benefit-1
        .col-md-4.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 How to InnerSource
          %p.overview
            :markdown
              - **Everyone can contribute:** Many organizations assume that software engineers should be the only direct contributors to software projects. Pivot to **thinking of everyone as a contributor**. Their contributions may be code, bug fixes or reports, copy edits, or simply informed user opinions in comment threads. Welcome them.
              - **Establish maintainer roles:** Product managers, lead developers, and other decision makers are elevated to manage contributions.
              - **Standardize tools and open up projects:** Use one platform for source code management and as much of the rest of the DevOps lifecycle as possible, from planning and project management through to monitoring. Give as many people in your organization access to as many projects as you can, and the basic training they need to make contributions.
          %p.overview
            :markdown
              Learn more with [this getting-started guide by O’Reilly editor Andy Oram](https://www.oreilly.com/radar/getting-started-with-innersource/){:data-ga-name="Getting started guide"}{:data-ga-location="body"}.
      %hr.divider/

      .row#benefit-2
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Why use GitLab for InnerSource?
          .overview
            :markdown
              - **Prove your ROI:** get the data you need with [GitLab Cycle Analytics](https://about.gitlab.com/stages-devops-lifecycle/value-stream-analytics/){:data-ga-name="Value stream analitycs"}{:data-ga-location="body"}
              - **Network effects:** leverage talent across your organization with all your users — dev, ops, and beyond — [using one application for the DevOps lifecycle](https://about.gitlab.com/topics/single-application/){:data-ga-name="Single application"}{:data-ga-location="body"}
              - **Smarter feedback:** with [GitLab Review Apps](https://about.gitlab.com/stages-devops-lifecycle/review-apps/){:data-ga-name="Review apps"}{:data-ga-location="body"} you can CI test and share live changes before deploying to production
              - **Security:** [39% of developers say innersourcing has helped identify new security issues](https://about.gitlab.com/blog/2017/04/19/how-innersourcing-can-help-your-security-team/){:data-ga-name="Innersourcing security"}{:data-ga-location="body"}
              - **Open core:** get more out of inner source by using open source software from GitLab, where we believe [everyone can contribute](https://about.gitlab.com/community/contribute/){:data-ga-name="Contribute"}{:data-ga-location="body"}
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("checklist-icon")
      %hr.divider/
