- feature_support = locals.fetch(:support, false)
- if (feature_support == "partially")
  .devops-mark{ "title" => "Partially supported", "data-toggle" => "tooltip", "data-placement" => "top" }
    = partial "includes/icons/comparison/maybe-icon.svg"
- if (feature_support == true)
  .devops-mark{ "title" => "Supported", "data-toggle" => "tooltip", "data-placement" => "top" }
    = partial "includes/icons/comparison/yes-icon.svg"
- if (feature_support == false)
  .devops-mark{ "title" => "Not supported", "data-toggle" => "tooltip", "data-placement" => "top" }
    = partial "includes/icons/comparison/no-icon.svg"
