---
layout: default
title: Global Developer Survey | GitLab
description: "Learn what high-functioning organizations are doing differently
and get the insights behind the needs of today's developer."
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/dev-survey-hero-icons.svg"

      .row
        .col-md-8.col-md-offset-2
          %h1 GitLab Global Developer Survey

      .row
        .col-md-6.col-md-offset-3
          %h3 You have the power to shape the industry.
          %p Learn what today's software professionals need in order to thrive.


  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-md-8.col-md-offset-2

          .content-section
            %h3.section-heading Global Developer Report: DevSecOps

            %p As a software professional, you are an innovator, problem solver, researcher, and creative. Your job is to take big ideas and make them a reality. With the right support, the possibilities are endless. When you're empowered to create, your creativity can flourish.

            %p To help you get there faster, every year we share your thoughts to drive industry dialogue around the needs of today’s software professionals, sparking a movement to remove roadblocks and focus on helping teams thrive. Designed to encourage conversation and collaboration, the Developer Report dissects cross-functional relationships and offers insights into successful practices, problem areas, and potential solutions.

          .content-section
            %h3.section-heading 2020
            %p This year, over 3,650 respondents from 21 countries spoke about their DevOps successes, challenges, and ongoing struggles..

            %p.btn-group
              = link_to "2020 Global Developer Report: DevSecOps", "/developer-survey/previous/2020/", class: "btn cta-btn purple large"

            -#%p
              %a{ href: "https://www.surveymonkey.com/results/SM-8LLKL2N87/" } 2019 Global Developer Survey - all data

          .content-section
            %h3.section-heading 2019
            %p This year, over 4,000 respondents – across various industries, roles, and geographic locations – candidly shared their experiences, helping us uncover what software professionals require in order to innovate rapidly.

            %p.btn-group
              = link_to "2019 Global Developer Report: DevSecOps", "/developer-survey/previous/2019/", class: "btn cta-btn purple large"

            %p
              %a{ href: "https://www.surveymonkey.com/results/SM-8LLKL2N87/" } 2019 Global Developer Survey - all data

          .content-section
            %h3.section-heading 2018
            %p In 2018, we heard from more than 5,000 software developers, architects, IT managers, and executives from around the world to uncover the impact of workplace culture, workflow, and tooling on the needs, preferences, and satisfaction of today’s developer.

            %p.btn-group
              = link_to "2018 Global Developer Report", "/developer-survey/previous/2018/", class: "btn cta-btn purple large"

            %p
              %a{ href: "https://www.surveymonkey.com/results/SM-G3S6S63P8/" } 2018 Global Developer Survey - all data

          .content-section
            %h3.section-heading 2016
            %p In 2016, we learned that the type of tools developers use is more important than ever. With distributed version control systems and open source tools leading the charge, it’s obvious that there is an overwhelming desire for a more open and collaborative approach to software development.

            %p.btn-group
              %a.btn.cta-btn.purple.large{ href: "https://page.gitlab.com/rs/194-VVC-221/images/gitlab-enterprise-survey-2016-report.pdf" } 2016 Global Developer Report

