---
title: Integration Services
suppress_header: true
description: "Integrate with the services your team needs to be productive."
canonical_path: "/services/implementation/integration/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Integration Services
    %h3.headline-subtitle
      Facilitate your transition to GitLab

= partial "includes/services-deprecated"
