---
title: GitLab Instructor Led Training Seat Add-On
suppress_header: true
description: "GitLab Instructor Led Training Seat Add-On"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_seat_add-on" }
    .row
      .col-md-12
 
        


