- codeowners = codeowners_for_page(current_page)
- if codeowners.any?
  .codeowners
    %div
      %h4.codeowners-header
        Maintained by
        %span.hidden-md.hidden-lg> :
    .codeowners-list
      - codeowners.each do |user_info|
        %a.codeowner{href: user_info[:url] }
          - if codeowners.one?
            .codeowners-single
              = avatar_partial(user_info)
              = single_owner_partial(user_info)
          - else      
            = avatar_partial(user_info)
