- relative_path = current_page.file_descriptor.relative_path

%h5
  Contribute to this page

%div
  = link_to('Edit this page', web_ide_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
  .d-flex.align-items-center.mt-2

