- if !current_page.data.suppress_header
  .blank-header
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    .header-content
      %h1
        - if current_page.data.title
          = current_page.data.title
        - else
          = yield_content(:title)
