-# = partial "includes/layout/banner"
-# Comment this out when there's no active global site banner
-# We have to use Web components to keep old Slippers styles out of the new Slippers nav,
-# https://about.gitlab.com/blog/2021/05/03/using-web-components-to-encapsulate-css-and-resolve-design-system-conflicts/
%template#be-nav
  %div#be-nav-target
    %slp-navigation
%nav#global-nav.slp-sticky.slp-left-0.slp-right-0.slp-top-0.slp-bg-white.slp-z-90{style: "z-index: 1000000;"}
  %be-navigation
= partial "includes/layout/search"

-# Buyer Experience navigation integration
-# Putting the script here, rather than in the `head` or at the end of the `body` makes it render-blocking, which will prevent layout shift.
-# this is intentional.
%script{src: cache_bust("/javascripts/be-navigation.js", cache_bust_value), type: "text/javascript"}

-# This includes is mirroring the structure of Navigation Slippers UI component
-# https://gitlab-com.gitlab.io/marketing/inbound-marketing/slippers-ui/?path=/story/components-navigation--default 
