= image_tag "/images/dev-survey-2019/development-planet-rings.svg", class: "development-planet-rings"
= image_tag "/images/dev-survey-2019/planet-bars.svg", class: "development-planet-bars"
= image_tag "/images/dev-survey-2019/development-planet.svg", class: "development-planet"
