.security-planet-glow
= image_tag "/images/dev-survey-2019/security-planet-ripple.svg", class: "security-planet-ripple-1"
= image_tag "/images/dev-survey-2019/security-planet-ripple.svg", class: "security-planet-ripple-2"
= image_tag "/images/dev-survey-2019/security-planet.svg", class: "security-planet"
= image_tag "/images/dev-survey-2019/security-planet-stars.svg", class: "security-planet-stars"
