---
layout: markdown_page
title: "Stage Direction - AI-powered"
description: "AI-powered workflows boost efficiency and reduce cycle times with the help of AI."
canonical_path: "/direction/ai-powered/"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Overview

Learn more about [GitLab Duo](https://about.gitlab.com/gitlab-duo/). AI-powered workflows boost efficiency and reduce cycle times with the help of AI in every phase of the software development lifecycle.

### Goal

AI-powered workflows
* Boost efficiency and reduce cycle times with the help of AI in every phase of the software development lifecycle.
Privacy-first, enterprise-grade
* We lead with a privacy-first approach to help enterprises and regulated organizations adopt AI-powered workflows.
Single application
* A single application with built-in security to deliver more software faster, enabling executive visibility across value streams and preventing context switching.
Empower every user at every step
* From planning and code creation to testing, security, and monitoring, our AI-assisted workflows support developer, security, and ops teams.

## Groups 
The AI-powered stage consists of the following product led groups: 

- [AI Framework](/direction/ai-powered/ai_framework): Building common tools to support GitLab teams integrating AI/ML technologies. 
- [AI Model Validation](/direction/ai-powered/ai_model_validation): Research and Evaluate AI/ML models for use to enrich the GitLab product with Generative AI.
- [Duo Chat](/direction/ai-powered/duo_chat): GitLab's AI-powered DevSecOps assistant. 

## What's Next & Why

## What we've recently completed

We're still in the early days of integration AI/ML technologies within GitLab. However we've made much progress in 2023 and are quickly building to keep up with the rapid innovations in the wider AI/ML market. 

### 2023
You can keep up with our latest releases by following the [AI/ML topic of our blog](https://about.gitlab.com/blog/categories/ai-ml/). 

Major achievements include: 

- Initial design and implementation of our [AI Architecture](https://docs.gitlab.com/ee/user/ai_features.html) to support Generative AI use cases. 
- Beta release of GitLab Duo [Code Suggestions](https://about.gitlab.com/solutions/code-suggestions/)
- Experimental release of 10 Generative AI capabilities that we're calling [GitLab Duo](https://about.gitlab.com/gitlab-duo/). Read about these capabilities in our [April AI Fireside chat](#TODO)

### 2022
- GA of Suggested Reviewers
- Experimental Code Suggestions

### 2021
- Established the ModelOps stage (later split to create the AI-powered stage)
- [Acquisition of UnReview](#smarter-code-reviewer-suggestions)
- Internal beta of [Automatic Issue Labeling](#automatic-issue-labeling)

#### Smarter Code Reviewer suggestions

> [GitLab acquires UnReview as it looks to bring more ML tools to its platform](https://techcrunch.com/2021/06/02/gitlab-acquires-unreview-as-it-looks-to-bring-more-ml-tools-to-its-platform/)

Integrating [UnReview’s technology](https://about.gitlab.com/press/releases/2021-06-02-gitlab-acquires-unreview-machine-learning-capabilities.html) into the GitLab platform marks our first step in building GitLab’s AI Assisted features for DevOps.

#### Automatic Issue Labeling
We are currently actively working on an ML model that automatically labels GitLab internal issues based on issue content. [You'll see GitLab issues](https://gitlab.com/gitlab-org/gitlab/-/issues?label_name[]=automation%3Aml) with the `automation:ml` label that have been automatically labeled by our model. You can also provide training feedback to the model if it is incorrect by applying the `automation:ml wrong` label. GitLab team members can view a feed of these issues with probability data in Slack in the [#feed-tanuki-stan](https://gitlab.slack.com/archives/C01HM3RA2RE) channel.

We pursued this feature first as a way to get a data science workload working within GitLab's existing CI/CD as well as running on top of production GitLab data and interacting with the GitLab data model. This will set the foundation for work in our [MLOps group](../mlops) and our other AI Assisted categories listed above.

### What We're Not Doing
* Air-Gapped Environments - Many advanced data science use cases today exist within government and high-security environments. These environments pose many complex challenges like accessing data and compute resources. Our focus for the next year will be on our .com SaaS offering to bring ModelOps capabilities to as many customers as quickly as possible. We will aim to support self-hosted GitLab environments and eventually air-gapped environments, but it is not our primary focus today.

## Analyst Landscape

Based on [GitLab’s 2021 DevSecOps survey,](https://about.gitlab.com/developer-survey/) 75% of respondents report their DevOps teams are either using or planning to use ML/artificial intelligence for testing and code review. Additionally, a majority (55%) of operations teams report their life cycles were either completely or mostly automated. These statistics validate the importance of [GitLab’s AI Assisted features for DevOps](https://about.gitlab.com/direction/modelops/ai_assisted/), and integrating automation and machine learning technology like UnReview into the GitLab platform.

Industry analyst research into successful operationalization of machine learning outlines the many challenges organizations face by adopting point solution technologies. This is contrasted with the business value provided by integrating AI Assisted features, DataOps, MLOps, and ModelOps into existing DevOps processes.

> "With the rapid increase in cloud adoption, spurred by the COVID-19 pandemic, we’re seeing increased demand for cloud-enabled DevOps solutions," said Jim Mercer, research director DevOps and DevSecOps at IDC. "DevOps teams who can capitalize on cloud solutions that provide innovative technologies, such as machine learning, to remove friction from the DevOps pipeline while optimizing developer productivity are better positioned to improve code quality and security driving improved business outcomes."

* Gartner's 2020 [Artificial Intelligence Use Case Prism for Development and Testing](https://www.gartner.com/en/documents/3994888/infographic-artificial-intelligence-use-case-prism-for-d) cited Security Vulnerability Detection as an emerging application of ML and rule-based systems.
* [Forrester Research Overview: Machine Learning For Information Platforms](https://www.forrester.com/report/Research+Overview+Machine+Learning+For+Information+Platforms/-/E-RES157757?objectid=RES157757)


### Internal resources
GitLab team members can learn more in our internal handbook: 
* Slack: #ai_strategy
* [AI Strategy](https://internal.gitlab.com/handbook/product/ai-strategy/)

<p align="center">
    <i><br>
    Last Reviewed: 2023-08-17<br>
    Last Updated: 2023-08-17
    </i>
</p>
