---
title: Advisory Workshop
suppress_header: true
description: "GitLab Experts can provide guidance on GitLab workflows and other best practices to help your company achieve its most ambitious goals."
canonical_path: "/services/advisory/advisory-workshop/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Advisory Workshop
    %h3.headline-subtitle
      Consulting services that provide best-practice guidance on specific topics. 

= partial "includes/services-deprecated"
