<div class="content">
  <h2
    class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-col-span-full"
  ><%= videos.heading %></h2>
  <div class="video-slider">
    <% data.video_carousel.each do |video| %>
      <% if video.carousel_identifier.include?(videos.type) %>
        <%= partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link} %>
      <% end %>
    <% end %>
  </div>
  <% data.video_carousel.each do |video| %>
    <% if video.carousel_identifier.include?(videos.type) %>
      <%= partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link} %>
    <% end %>
  <% end %>
</div>
