- if article
  - link_concat = "https://forum.gitlab.com/new-topic?title=#{article.title}&body=&tags=blog-feedback"
  #feedback-cta
    %i 
      = partial "includes/icons/idea-collaboration.svg"
    %h3 
      We want to hear from you
    %p 
      Enjoyed reading this blog post or have questions or feedback? Share your thoughts by creating a new topic in the GitLab community forum.
    
    %a.comment-cta{ href: link_concat, target: "_blank"}
      Share your feedback
