.panel.panel-default.panel-newsletter-cta{ :class => (defined? variant) ? "newsletter-cta-#{variant}" : nil }

  - if defined?(variant)
    = partial "includes/blog/newsletter-forms/form.html.haml", locals: { variant: variant }
  - else
    = partial "includes/blog/newsletter-forms/form.html.haml", locals: { variant: 'a' }
