- unless articles.empty?
  .wrapper
    .section
      %h3 Featured Posts


  = partial "includes/blog/list", locals: { articles: articles[0...2] }
  - if articles.length > 2
    = partial "includes/blog/list", locals: { articles: articles[2...4] }

  .wrapper
    .section
      %hr
