.callout
  %h2
    Install GitLab in 2 minutes
  %p
    With Ubuntu, Debian, CentOS, openSUSE, and Raspbian packages or from source
  = link_to "Install GitLab Now", "/install/", class: "btn cta-btn orange"
