.callout.gitlab-trial
  %h2
    Just commit to a single application for the entire DevOps lifecycle
  %p
    GitLab is the first single application for software development, security, and operations. Watch the demo to discover how you can commit to application modernization, reducing cycle times, and delivering secure apps with GitLab.
  = link_to "Watch now", "/demo-leader/", class: "btn cta-btn orange"
