.gitlab-trial
  .gitlab-trial__wrapper
    .gitlab-trial__left-side
      %h2
        Take GitLab for a spin
      %p
        See what your team could do with The DevSecOps Platform.
      = link_to "Get free trial", "https://gitlab.com/-/trials/new?glm_content=default-saas-trial&glm_source=about.gitlab.com", class: "btn cta-btn", :"data-ga-name" => "free trial", :"data-ga-location" => "try partial"
    .gitlab-trial__right-side
      = image_tag "/images/cta/gitlab-enterprise-team-member-photos.png"
      %p
        Have a question? We're here to help.
      %a.sales-cta{href: 'https://about.gitlab.com/sales/'}
        Talk to an expert
