---
layout: default
title: The Guide to Remote DevOps
description: With the right tools and practices, remote work actually bolsters DevOps efforts – and we explain how in this guide to remote DevOps.
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/all-remote/guide-remote-devops?lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook"
success_message: "You will also receive a copy of the eBook to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline The Guide to Remote DevOps
        %h2.page-headline Learn how to help your team thrive while working remotely

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p DevOps seems difficult. Remote work seems challenging. But here at GitLab, we love them both. What’s more, remote teams trend higher in DevOps satisfaction compared to in-office teams.
            
            %p With the right tools and practices, remote work actually bolsters DevOps efforts – and we explain how in this guide to remote DevOps.

            %h3 What you’ll learn in this guide:
            %ul
              %li Fundamentals for remote DevOps
              %li Tips on building a DevOps culture remotely
              %li How to use GitLab for remote DevOps

            %p Download the guide to boost your remote DevOps practices.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }