---
layout: default
title: Version Control Best Practices
description: "Download the Version Control Best Practices eBook to empower your team to spark rapid delivery and collaboration."
canonical_path: "/resources/ebook-version-control-best-practices/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/version-control/version-control-best-practice?lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook."
success_message: "You will also receive a copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Version control best practices
        %h2.page-headline Learn five ways to enhance team collaboration

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Rapid changes in industry combined with increasing customer demand for new features can lead teams to work in silos. Application development requires speed and iteration, making seamless collaboration a necessity in delivering business value. Teams turn to version control to streamline collaboration and break down information silos.
            
            %p Teams that embrace version control and collaboration can easily coordinate work, review changes, and manage delivery, helping them focus on solving problems and shipping value.

            %h3 What you’ll learn in this eBook:
            %ul
              %li The impact of various techniques on collaboration
              %li Effective development practices using Git
              %li How connecting all phases of the software development lifecycle in a single application  fuels visibility, collaboration, and velocity

            %p Download the eBook to empower your team to spark rapid delivery and collaboration.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }