---
title: Education Services
suppress_header: true
description: "GitLab Education Services"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education Services
    %h2.headline-subtitle
      Train your teams to become efficient in GitLab & Concurrent DevOps

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Summary
        %p Your teams are composed of highly proficient technical experts. With any comprehensive solution, there is a learning curve to consider. Our product specialists—technology professionals themselves—are available to train your teams to become efficient in GitLab and DevOps quickly.
        %p
          We are working to make all of our educational offerings more widely available by updating our current learning infrastructure to support a broader audience. We will be posting updates to our
          %a{href: 'https://about.gitlab.com/blog/'}
            GitLab Blog
          as we ready our new platform. Be sure to subscribe to see the latest updates.

        %h2 Who is this service for?
        %p Anyone looking to cut "under the curve" of learning not only GitLab but Concurrent DevSecOps best practices.

        %h2 Live Training
        %p GitLab offers a variety of courses delivered at your site or remotely by our experienced GitLab trainers. In addition, we offer specialized training that can be customized even further to meet your team's unique needs.
        %p Here are the standard courses we offer.
        %ul
          - data.learn.learn.select{|course| course.maintainer == "PS Education Services" && course.confidentiality == "Public" && course.assessment == "None" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course|
            %li
              %a{href: "#{course.url}"}
                #{course.name}
        %p
          For organizations that need to scale training to a larger audience, we also offer a 
          %a{href: '/services/education/train-the-trainer/'}
            Train the Trainer
          option.
        %p
          For a complete list of Professional Services offerings visit the 
          %a{href: '/services/catalog/'}
            Full Catalog page.
        
        %h2 Self-paced Training
        %p <a href="https://levelup.gitlab.com/">LevelUp</a> is the online learning platform for developers and practitioners to learn about DevSecOps. For information on our current self-paced offerings and registration, see the <a href="https://levelup.gitlab.com/pages/certifications">Certifications</a> page. 



= partial "includes/services-contact-form"
