---
title: Dedicated Implementation Services
suppress_header: true
description: "Enterprise-ready, scalable GitLab installation designed by experts."
canonical_path: "/services/implementation/enterprise/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Dedicated Implementation Services
    %h3.headline-subtitle
      Enterprise-ready, scalable GitLab installation designed by experts

= partial "includes/services-deprecated"