<%  if form.code != nil  %>
  <script src='//page.gitlab.com/js/forms2/js/forms2.min.js'></script>
  <%= form.code %>
<% end %>
<div id=confirmformnewlsetter style='visibility:hidden;'>
  <p class=thanks-subscribing>
    Thanks for subscribing!
    <a href='https://www.twitter.com/gitlab' target=_blank>
      Follow us on twitter
    </a>
    for even more updates!
  </p>
</div>
