<section>
  <% event.countdown.each do | countdown | %>
  <div data-countdown-date="<%= countdown.countdownDate %>" class="slpEventCountdown slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160" style="background-image: url('<%= countdown.background %>');">
    <div class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp-left-0 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4">
      <%= inline_svg "/icons/slp-countdown.svg"%>
    </div>
    <h2 class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full">
      <%= countdown.heading %>
    </h2>
    <div class="slp-relative slp-col-span-full md:slp-col-span-10 slp-flex slp-flex-wrap slp-justify-between" id="slpEventCountdown">
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-days" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">days</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-hours" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">hours</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-minutes" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">minutes</div>
      </div>
      <div class="slp-countdown-card slp-bg-ui-secondary-dark slp-text-white slp-py-32 md:slp-py-60 slp-rounded-md slp-uppercase slp-text-center slp-mb-8 slp-mr-8">
        <div id="slp-countdown-seconds" class="slp-text-5xl slp-font-bold"></div>
        <div class="slp-text-base slp-font-semibold">seconds</div>
      </div>
    </div>
  </div>
  <% end %>  
</section>
