<section data-vue-target="true">
	  <!-- The eventName is not getting passed to the slippers video component -->
    <slp-video 
        event-name="<%= video_data.event_name %>" 
        :videos='<%= video_data.videos.to_json %>'
    />
</section>