<a href="/free-trial/" class="slp-btn" style="display: block !important;">Start your free trial</a>
<a href="/demo/" class="slp-btn--outline slp-btn slp-mt-16 slp-mb-16" style="display: block !important;">Watch a demo</a>