<section
  id="element-with-background-image"
  style="background-image: url('<%= customer.cover_image%>')"
  class="slp-bg-black slp-bg-opacity-25"
>
  <div
    class="slp-col-span-full slp-p-32 slp-relative"
  >
    <div class="slp-text-white slp-z-10 slp-p-32">
      <h1 class="slp-text-3xl slp-pb-32 md:slp-text-5xl">
        <%= customer.cover_title %>
      </h1>
    </div>
  </div>
</section>
