<section class="slp-mb-64">
  <h2 class="slp-text-xxs slp-uppercase slp-mt-16"><%= content.title %></h2>
  <p class="slp-text-xl">
    <%= content.subtitle %>
  </p>
  <div
    class="slp-prose slp-max-w-none slp-mt-16"
  > 
    <%= kramdown(content.content) %>
  </div>
</section>